<div class="bg-grey-light" id="login-signup">
  <div class="py6 px2">

    <div id="user-account-form" style="max-width: 400px;margin: auto;">
      <div class="rounded-content-frame rounded-content-frame--white">
        <div class="rounded-content-frame__content current" id="login">
          <h2 class="title">
            <span class="translation_missing" title="translation missing: en.user_sessions.login.Log_in">Log In</span>
          </h2>

          <div class="mb2">

            <%= form_for(:session, url: login_path, :html => {class:'form-simple'}) do |f| %>
            <fieldset class="mb1">
              <ol>
                <li class="mb2">
                  <%= f.label :email, class: 'offscreen' %>
                  <%= f.email_field :email, class: 'input-text full-width js-auto_focus email', placeholder: 'Email', autofocus: true %>
                </li>
                <li class="mb2">
                  <%= f.label :password, class: 'offscreen' %>
                  <%= f.password_field :password, class: 'input-text full-width js-auto_focus password', placeholder: 'Password' %>
                </li>
                <li class="clearfix">
                  <%= f.submit 'Log me in!', class: 'btn btn--green btn--block submit' %>
                </li>
              </ol>
            </fieldset>
            <% end %>

          </div>

          <div class="text-strikethru">
            <div class="line"></div>
            <div class="text"><span class="translation_missing" title="translation missing: en.user_sessions.login.or">Or</span></div>
          </div>
          <div class="mb1"><a href="https://www.kickstarter.com/fb/login.json" class="js-facebook-login btn btn--facebook btn--with-svg btn--block"><svg aria-hidden="true" class="svg-icon__facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg> Log in with Facebook</a></div>
          <p class="center h6 grey-dark">
            We'll never post anything on Facebook<br>without your permission.
          </p>

        </div>
        <div class="rounded-content-frame__footer">
          New to Garagehunter?
          <%= link_to 'signup', class: 'bold js-switch-to-signup' do %>
              <span class="">Sign Up</span>
          <% end %>
          <!--<a class="bold js-switch-to-signup" href="/signup">
            <span class="translation_missing" title="translation missing: en.user_sessions.login.Sign_up">Sign Up</span>
          </a>-->
        </div>

      </div>
    </div>
  </div>
</div>