<div class="bg-grey-light" id="login-signup">
  <div class="py6 px2">

    <div id="user-account-form" style="max-width: 400px;margin: auto;">
      <div class="rounded-content-frame rounded-content-frame--white">
        <div class="rounded-content-frame__content current" id="signup">
          <h2 class="title">Sign up</h2>

          <%= form_for(@user, :html => {class:'form-simple'}) do |f| %>
          <fieldset>
            <%= render 'shared/error_messages' %>
            <ol>
              <li class="mb2">
                <%= f.label :name, class: 'offscreen' %>
                <%= f.text_field :name, id: 'txtName', class: 'input-text full-width js-auto_focus text form-control', placeholder: 'Name', autofocus: true %>
              </li>
              <li class="mb2">
                <%= f.label :email, class: 'offscreen' %>
                <%= f.email_field :email, id: 'txtEmail', class: 'input-text full-width email form-control', placeholder: 'Email' %>
              </li>
              <li class="mb2">
                <%= f.label :password, class: 'offscreen' %>
                <%= f.password_field :password, id: 'txtPassword', class: 'input-text full-width password', placeholder: 'Password' %>
              </li>
              <li class="mb2">
                <%= f.label :password_confirmation, class: 'offscreen' %>
                <%= f.password_field :password_confirmation, id: 'txtPasswordConfirmation', class: 'input-text full-width password', placeholder: 'Re-enter password' %>
              </li>
              <li class="mb2 newsletter">
                <div class="flag">
                  <div class="flag-img">
                    <input class="hidden" name="user[newsletter_opt_in]" value="0" type="hidden"><input class="checkbox" id="user_newsletter_opt_in" name="user[newsletter_opt_in]" value="1" type="checkbox">
                  </div>
                  <div class="flag-body">
                    <label class="label-checkbox h5 grey-dark" for="user_newsletter_opt_in">Receive our weekly newsletter and other occasional updates</label>
                  </div>
                </div>
              </li>
              <li class="no-margin">
                <br>
                <%= f.submit 'Sign me up!', class: 'btn btn--green btn--block submit' %>
                <p class="terms h6 grey-dark mt1 center border-box clip">
                  By signing up, you agree to our
                  <a class="popup" href="https://www.kickstarter.com/terms-of-use" target="_blank">terms of use</a>,
                  <a class="popup" href="https://www.kickstarter.com/privacy" target="_blank">privacy policy</a>, and
                  <a class="popup" href="https://www.kickstarter.com/cookies" target="_blank">cookie policy</a>.
                </p>
              </li>
            </ol>
          </fieldset>
          <% end %>

          <div class="text-strikethru">
            <div class="line"></div>
            <div class="text">or</div>
          </div>

          <div class="mb1">
            <a href="https://www.kickstarter.com/fb/login.json" class="js-facebook-login btn btn--facebook btn--with-svg btn--block">
              <svg aria-hidden="true" class="svg-icon__facebook"><use xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg> Log in with Facebook
            </a>
          </div>
          <p class="center h6 grey-dark">
            We'll never post anything on Facebook<br>without your permission.
          </p>

        </div>
        <div class="rounded-content-frame__footer">
          Have an account?
          <a class="bold js-switch-to-login" href="https://www.kickstarter.com/login">Log in</a>
        </div>
      </div>
    </div>
  </div>
</div>