<style>
  .myulerror {
    list-style-type: disc;
    list-style-position: outside;
    background: #fd003b;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 20px;
    line-height: 24px;
  }
</style>
<% if @user.errors.any? %>
  <div id="error_explanation" class="fieldset-errors">
    <!--<div class="fieldset-errors">
      The form contains <%= pluralize(@user.errors.count, 'error') %>.
    </div>-->
    <ul class="myulerror">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>