<div class="bg-white" id="content-wrap">

  <%= render 'layouts/main_slider' %>
  <div class="bg-white" id="content-wrap">

    <div class="NS_site__homepage_staff_picks py2 bg-white border-bottom">
      <div class="container-flex px2 py2 relative">
        <%#= render 'layouts/row_welove' %>
      </div>
    </div>
    <%#= render 'layouts/row_recommended' %>
    <%#= render 'layouts/row_popular' %>

    <div class="py4 bg-violet-light border-top" id="bottom-area">
      <div class="grid-container">
        <div class="center px2 py2">
          <h2 class="normal">Where projects come from</h2>
          <div class="grey-dark mb2">
            Each and every Kickstarter project is the independent creation of someone like you.
            <div class="mobile-inline">Want to know more about how projects happen, or start your own?</div>
          </div>
          <a class="btn btn--green" href="https://www.kickstarter.com/learn?ref=home_start">Learn more</a>
        </div>
      </div>
    </div>
  </div>

</div>

