<style>
.myProjEditLabel{
  vertical-align: top !important;
  width: 163px;
  word-wrap: break-word;
  position: relative;
}
.myProjEditWrapper{
  width: 449px;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
}
.myProjDivParraf{
  color: #020621;
  font-size: 12px;
  line-height: 16px;
  padding-top: 10px;
}
.rec{
  color: #3D3D66;
  font-size: 11px;
  font-style: normal;
  position: absolute;
  top: 11px;
  right: 10px;
}
</style>

<div class="bg-grey-light py4">
  <div class="NS_projects__edit_nav clearfix">
    <div class="relative l-50 right" id="project_build_nav">
      <div class="relative l50">
        <ul class="list clearfix no-margin ml1 mr1" id="project-edit-nav">
          <li class="steps left bg-white border rounded">
            <ol class="no-margin" id="steps-nav">
              <li class="left">
                <a class="block p2 bold h5 green-dark border-right hover-bg-grey-light rounded-left selected" href="#the-basics">
                  <span class="alert center hide">
                  <span class="ss-icon ss-alert red h6"></span>
                  </span>
                  <span class="check-icon circle bg-grey center">
                  <span class="ss-icon ss-check white"></span>
                  </span>
                  Basics
                </a>
              </li>
              <li class="left">
                <a class="block p2 bold h5 green-dark border-right hover-bg-grey-light" href="#rewards">
                  <span class="alert center hide">
                  <span class="ss-icon ss-alert red h6"></span>
                  </span>
                  <span class="check-icon circle bg-grey center">
                  <span class="ss-icon ss-check white"></span>
                  </span>
                  Rewards
                </a>
              </li>
              <li class="left">
                <a class="block p2 bold h5 green-dark border-right hover-bg-grey-light" href="#the-story">
                  <span class="alert center hide">
                  <span class="ss-icon ss-alert red h6"></span>
                  </span>
                  <span class="check-icon circle bg-grey center">
                  <span class="ss-icon ss-check white"></span>
                  </span>
                  Story
                </a>
              </li>
              <li class="left">
                <a class="block p2 bold h5 green-dark border-right hover-bg-grey-light" href="#about-you">
<span class="alert center hide">
<span class="ss-icon ss-alert red h6"></span>
</span>
<span class="check-icon circle bg-grey center">
<span class="ss-icon ss-check white"></span>
</span>
                  About you
                </a>
              </li>
              <li class="left">
                <a class="block p2 bold h5 green-dark hover-bg-grey-light rounded-right" href="#account-setup">
<span class="alert center hide">
<span class="ss-icon ss-alert red h6"></span>
</span>
<span class="check-icon circle bg-grey center">
<span class="ss-icon ss-check white"></span>
</span>
                  Account
                </a>
              </li>
            </ol>
          </li>
          <li class="launch left pl1 hidden">
            <a class="bg-green rounded white p2 block bold h5 full-width border-box center tab" data-for="#launch" href="#">
              Launch
            </a>
          </li>

          <li class="preview left pl1">
            <a class="tab block p2 bold h5 green-dark hover-bg-grey-light rounded border bg-white" data-for="#preview" href="/projects/public/<%= @project.id %>">
              Preview
            </a>
          </li>

          <li class="finished left pl1">
            <form accept-charset="UTF-8" action="/projects/1654542528/245898637/submit" method="post"><div style="display:none"><input class="hidden" name="utf8" value="✓" type="hidden"><input class="hidden" name="_method" value="put" type="hidden"><input class="hidden" name="authenticity_token" value="+pyXhAE9MVtXLCdV53cGAdr9FS8kP3gYFnCzC8b0xEw=" type="hidden"></div>
              <a class="bg-white block bold border green-dark h5 hover-bg-grey-light p2 project_complete rounded started" href="#submission" id="project_complete">
                Submit for review
                <div class="subtext">
                  Allow up to 3 business days
                </div>
              </a>
            </form>

          </li>
        </ul>
        <div class="rounded bg-white p2 border clearfix ml1 mr1" id="confirm-preview-nav">
          <p class="no-margin left mt1">
            <strong>Everything in order?</strong> You can submit your project now or edit further.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="continue_nav">
      <div class="grid_16">
        <a class="project_build p2 bold h5 green-dark hover-bg-grey-light rounded border bg-white left" href="#">
          <span class="check-icon circle bg-green white">
          <span class="ss-icon ss-navigateleft relative" style="left: 1px"></span>
          </span>
          Return to Project Build
        </a>
      </div>
    </div>
  </div>

  <div class="content-toggle" id="content-wrap">
    <div style="display: none;" class="z1" id="loading"></div>
    <div class="content" data-category_id="12" id="forms">
      <div class="py6">
        <div id="running-board-wrap">
          <div class="container" id="running-board">
            <ol style="height: auto;" class="help-panels">
              <li style="display: block;" class="panel selected center" id="the-basics-help">
                <h2 class="mb1">Let’s get started.</h2>
                <p class="h3 no-margin">Make a great first impression with your project’s title and image, and set your funding goal, campaign duration, and project category.</p>
              </li>
              <li style="display: none;" class="panel center" id="rewards-help">
                <h2 class="mb1">Set your rewards and shipping costs.</h2>
                <p class="h3 no-margin">Invite backers to be a part of the creative experience by offering rewards like a copy of what you’re making, a special experience, or a behind-the-scenes look into your process.</p>
              </li>
              <li style="display: none;" class="panel center" id="the-story-help">
                <h2 class="mb1">Tell us about your project.</h2>
                <p class="h3 no-margin">
                  Use images, video, and a compelling description to describe what you’re making. Be sure to get specific about why people should be excited about your project.
                </p>
              </li>
              <li style="display: none;" class="panel center" id="about-you-help">
                <h2 class="mb1">Tell us more about yourself.</h2>
                <p class="h3 no-margin">Add a bio and links to your website and social media profiles. Think of it as your creative resume.</p>
              </li>
              <li style="display: none;" class="panel center" id="account-setup-help">
                <h2 class="mb1">Confirm your identity and link a bank account.</h2>
                <p class="h3 no-margin">Provide additional details about yourself and where funds should be sent.</p>
              </li>
              <li style="display: none;" class="panel center" id="submission-help">
                <h2 class="mb1">The homestretch!</h2>
                <p class="h3 no-margin">Once everything is in place, submit your project for review.</p>
              </li>
            </ol>

          </div>
        </div>

      </div>


      <div class="container mb6">
        <div class="bg-white rounded border clearfix ml1 mr1 py2 pl1 pr1">
          <div id="main" style="width: 640px;">
            <div style="height: 1530px;overflow: hidden" class="window">


              <ol class="form-panels">
                <li class="panel" data-panel_id="the-basics" id="the-basics-panel">

                  <%= form_for(@project, :url => {:action => 'update'}) do |f| %>

                    <fieldset class="no-margin">
                      <ol class="fields no-margin">

                        <li class="project-image">
                          <div class="grey-field mb2 clearfix">
                            <label class="myProjEditLabel primary" for="project_photo">Project image</label>
                            <div class="myProjEditWrapper field-wrapper main-project-image">
                              <div class="js-asset-upload asset_upload project required">
                                <div class="error">
                                  <div class="message"></div>
                                </div>
                                <div class="success">
                                  <div class="image-clip">
                                    <img id="imgPreview" class="preview">
                                  </div>
                                </div>
                                <div class="upload">
                                  <%= f.file_field :avatar, id:'txtFile', class: 'photo file' %>
                                  <!--<input class="photo file" data-help_section="project-image-help" id="project_photo" name="project[photo]" url="/projects/1654542528/245898637/photo" type="file">-->
                                  <strong class="center">
                                    Choose an image from your computer <span class="has_file_hide">This is the main image associated with your project. Make it count!</span><span>JPEG, PNG, GIF, or BMP • 50MB file limit</span> <span>At least 1024x576 pixels • 16:9 aspect ratio</span>
                                  </strong>
                                  <div class="progress">
                                    <div class="inner">
                                      <div class="bar">
                                        <div class="percentage">
                                          0%
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="myProjDivParraf field-help-2">
                                <p>
                                  Visit our guide for some tips on <a href="/help/images?ref=edit" target="_blank">creating great project images</a>.
                                </p>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="project-title">
                          <div class="grey-field mb2 clearfix">
                            <label class="myProjEditLabel primary" for="project_name">Project title</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <div class="character_counter_wrapper">
                                <%= f.text_field :title, id:'txtTitle', value: @project.title, class: 'required text', size: '60' %>
                                <!--<input class="required text" data-help_section="project-title-help" id="project_name" maxlength="60" name="project[name]" size="60" value="" type="text">-->
                              </div>
                              <div class="myProjDivParraf field-help-2">
                                <p>Your project title and blurb should be simple, specific, and memorable.
                                  Our search tools run through these sections of your project, so be sure to incorporate any key words here!</p>
                                <p>These words will help people find your project, so choose them wisely! Your name will be searchable too.</p>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="short-description">
                          <div class="grey-field mb2 clearfix">
                            <label class="myProjEditLabel primary" for="project_blurb">Short blurb</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <div class="character_counter_wrapper">
                                <%= f.text_area :blurb, id: 'txtBlurb', value: @project.blurb %>
                                <!--<textarea class="required textarea" data-help_section="short-description-help" id="project_blurb" maxlength="135" name="project[blurb]"></textarea>-->
                              </div>
                              <div class="myProjDivParraf field-help-2">
                                <p>If you had to describe what you're creating in one tweet, how would you do it?</p>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="category">
                          <div class="grey-field mb2 clearfix">
                            <label class="myProjEditLabel primary" for="project_category_id">Category</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <%= f.select :category, options_for_select([['Art', 'Art'],['Comics', 'Comics'],['Crafts', 'Crafts'],['Dance', 'Dance'],['Design', 'Design'],
                                                                          ['Fashion', 'Fashion'],['Film & Video', 'Film & Video'], ['Food', 'Food'],['Games', 'Games'],
                                                                          ['Journalism', 'Journalism'],['Music', 'Music'],['Photography', 'Photography'],['Publishing', 'Publishing'],
                                                                          ['Technology', 'Technology'],['Theater', 'Theater']],
                                                                         [@project.category]) %>

                            </div>
                          </div>
                        </li>

                        <li class="location">
                          <div class="grey-field mb2 clearfix">
                            <label class="myProjEditLabel primary" for="project_location_name">Project location</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <div class="field search location-search" data-search-url="/locations/search?assignable=true">
                                <%= f.select :location, options_for_select([['Australia', 'Australia'],['Austria', 'Austria'],['Belgium', 'Belgium'],
                                                                            ['Canada', 'Canada'], ['Denmark', 'Denmark'],['France', 'France'],['Germany', 'Germany'],
                                                                            ['Ireland', 'Ireland'],['Italy', 'Italy'],['Luxembourg', 'Luxembourg'], ['Netherlands', 'Netherlands'],
                                                                            ['New Zealand', 'New Zealand'],['Norway', 'Norway'],['Spain', 'Spain'],['Sweden', 'Sweden'],
                                                                            ['Switzerland', 'Switzerland'],['United Kingdom', 'United Kingdom'],['United States', 'United States']],
                                                                           [@project.location]) %>
                                <!--<span class="ss-icon ss-search"></span>
                                <input autocomplete="off" class="input-text input-search text" id="project_location_name" name="project[location_name]" type="text">-->
                                <div class="results">
                                  <span class="ss-icon ss-directup"></span>
                                  <ul class="result_list"></ul><div style="display: none;" class="no_results">Sorry, we couldn't find anything.</div></div>

                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="funding-duration">
                          <div class="grey-field mb2 clearfix">
                            <label class="myProjEditLabel primary" for="project_deadline">Funding duration</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <ul class="options">
                                <li class="option number-of-days"><label class="option_label" for="duration_duration">
                                  <!--<input checked="checked" class="radio" id="duration_duration" name="duration" value="duration" type="radio">-->
                                  <strong>Number of days</strong></label>
                                  <em class="rec">1−60 days, we recommend 30 or less</em>
                                  <span>
                                    <%= f.text_field :duration, value: @project.duration %>
                                    <!--<input class="text" id="project_duration" length="3" name="project[duration]" size="3" value="30" type="text">-->
                                  </span>
                                </li>
                              </ul>
                              <div class="myProjDivParraf field-help-2">
                                <p>
                                  We recommend setting a funding duration of 30 days or less.
                                  Shorter durations tend to have higher success rates. Once your project has launched,
                                  it won’t be possible to change your funding duration. For more tips, check out the
                                  <a class="has-icon popup" href="/help/handbook/funding" target="_blank">Creator Handbook</a>.
                                </p>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="funding-goal">
                          <div class="grey-field clearfix">
                            <label class="myProjEditLabel primary" for="project_goal">Funding goal</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <%= f.text_field :goal, value: @project.goal %>
                              <!--<input class="text" id="project_goal" length="10" name="project[goal]" size="10" value="$0 USD" type="text">-->
                              <div class="myProjDivParraf field-help-2">
                                <p>Your funding goal should be the minimum amount needed to complete the project and fulfill (and ship!) all rewards. Because funding is all-or-nothing, you can always raise more than your goal but never less. Once your project has launched, it will not be possible to change your funding goal.</p>
                                <p>If your project is successfully funded, the following fees will be collected from your funding total: Kickstarter’s 5% fee, and payment processing fees (between 3% and 5%). If funding isn’t successful, there are no fees.
                                </p>
                                <p><a class="remote_modal_dialog" data-modal-class="fees" data-modal-title="Fees" href="/projects/fees?country=US&amp;stripe=true">View fees breakdown</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="collaborators">
                          <div class="grey-field mt2 clearfix">
                            <label class="myProjEditLabel primary">Submit for Review</label>
                            <div class="myProjEditWrapper field-wrapper">
                              <p class="mt1" style="font-size: 13px;line-height: 16px;">This is a demo built with <b>Ruby on Rails 5</b> without "Submit for Review",
                                your project is saved and be ready.</p>
                              <%= f.submit 'Update Project', class: 'btn btn--blue mb1' %>
                              <!--<a class="btn btn&#45;&#45;blue mb1" href="/projects/1654542528/245898637/collaborators">Add collaborators</a>-->
                            </div>
                          </div>
                        </li>


                      </ol>
                    </fieldset>
                    <%= f.text_field :id, type: 'hidden', value: @project.id %>
                  <% end %>

                </li>

              </ol>


            </div>
          </div>


          <style>
            .school-tout {
              display: block;
              margin-bottom: 30px;
              background: url(https://static.kickstarter.com/assets/projects/edit/icon-school-c42681dde6b9f05ee31ec604b5fe60d6050b0b17eaca9c4dc0a45e255aadfc8f.png) no-repeat 13px 11px #F7F5F2;
              padding: 10px;
              padding-left: 42px;
              font-size: 13px;
              line-height: 16px;
              font-weight: bold;
              border-radius: 3px;
            }
          </style>
          <div id="sidebar-wrap">
            <div class="grid_4 pl1" id="sidebar">
              <ol class="sidebar-help-panels">
                <li style="display: none;" class="panel" id="rules-sidebar-help"></li>
                <li style="display: block;" class="panel selected" id="the-basics-sidebar-help">
                  <a class="school-tout" href="/help/handbook/getting_started" target="_blank"><span>How to:</span> Make an awesome project
                  </a>
                  <h5 style="font-size: 12px;">Need advice?</h5>
                  <p style="font-size: 12px;">Visit Campus to read discussions about
                    <a href="/campus/questions/what-three-things-do-you-know-now-that-you-wish-you-knew-before-you-launched-your-project?ref=build_basics" target="_blank">preparing for a project</a>
                    and more.
                  </p>
                  <div id="project-card-preview">
                    <div class="js-score-tracking project-card project-card-tall project-card-wrap ratio-16-9" data-pid="245898637">
                      <div class="project-thumbnail">
                        <a class="project-thumbnail-wrap" data-pid="245898637" href="/projects/1654542528/245898637?ref=card" target="">

                          <img id="imgProject" alt="Project image" class="project-thumbnail-img"
                               <% if @attachment.url.present? %>
                                  src="<%= @attachment.url %>"
                               <% else %>
                               src="https://ksr-ugc.imgix.net/missing_project_photo.png?w=218&amp;h=122&amp;fit=fill&amp;bg=000000&amp;v=&amp;auto=format&amp;q=92&amp;s=0cbcc777acf757d672746609f507c33b"
                               <% end %>
                               width="100%">
                        </a>
                      </div>

                      <div class="project-card-content">
                        <h6 class="project-title">
                          <a data-pid="245898637" data-score="null" data-version="null" href="#" target="">
                            <span id="spnPreTitle"><%= @project.title %></span>
                          </a>
                        </h6>
                        <p class="project-byline"></p>
                        <p class="project-blurb"><span id="spnPreBlurb"><%= @project.blurb %></span></p>
                      </div>

                      <div class="project-card-footer">
                        <div class="project-location">
                          <a href="#"><span aria-hidden="true" class="ksr-icon__location"></span>
                            <span class="location-name"></span>
                          </a></div>
                        <div class="project-stats-container">
                          <div class="project-pledged-successful">
                            <strong>Successfully funded!</strong>
                          </div>
                          <div class="project-progress-bar">
                            <div class="project-percent-pledged" style="width: 0%"></div>
                          </div>
                          <ul class="project-stats">
                            <li>
                              <div class="project-stats-value">0%</div> <span class="project-stats-label">funded</span>
                            </li>
                            <li>
                              <div class="project-stats-value"><span class="money usd no-code">$0.00</span></div> <span class="project-stats-label">pledged</span>
                            </li>
                            <li style="display: none;">
                              <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                            </li>
                            <li class="ksr_page_timer" style="display: none;">
                              <div class="project-stats-value">
                                <div class="num">&nbsp;</div>
                              </div>
                              <div class="project-stats-label text" data-word="left">&nbsp;</div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>


                  </div>
                </li>

              </ol>
            </div>
          </div>

          <!--<div class="tools full-width z2 bg-white-95 transition-all">
            <div class="container py2">
              <ol class="tools-panels right no-margin mr1">
                <li class="panel form-tools">
                  <div class="cancel button_container inline-block"><a class="grey-dark h5 mr2" href="#">Discard changes</a></div>
                  <div class="save button_container inline-block"><a class="btn btn&#45;&#45;green" href="#">Save</a></div>
                </li>
              </ol>
            </div>
          </div>-->
        </div>

        <ul class="alt-tools right list-inline ml1 mt2">
          <li class="mr2">
            <a class="inline-block py1 delete-project grey-dark h5" href="/projects/1654542528/245898637/cancel" title="Delete this project">
              <span class="ss-icon ss-delete h6 icon-nudge-down" style="margin-right: 5px"></span>
              Delete project
            </a>
          </li>
        </ul>
        <!-- .container -->
        <!-- .tools -->
      </div>
      <!-- .container -->
    </div>
    <!-- #forms -->

  </div>
</div>
<!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(e){
  $('#txtTitle').on('keyup', function () {
    $('#spnPreTitle').text($(this).val());
  });

  $('#txtBlurb').on('keyup', function () {
    $('#spnPreBlurb').text($(this).val());
  });

  //PREVIEW FILE
  $('#txtFile').change(function(){
    $('#txtFileName').val($(this).val());
    readURL(this);
    $('.success').show();
  });
})
</script>
<script>
  function readURL(input){
    if(input.files && input.files[0]){
      var reader = new FileReader();

      reader.onload = function(e){
        $('#imgPreview').attr('src', e.target.result);
        $('#imgProject').attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
  function uploadFile(){
    $('input[type=file]').trigger('click');
  }
</script>