<div class="bg-grey-light py6 relative" id="content-wrap" style="padding-bottom: 140px;">
  <div class="bg absolute full-width full-height t0 clip">
    <div class="absolute full-height full-width t0" data-100="top: 0px;" data-350="top: 50px;">
      <svg enable-background="new 0 0 1024 800" version="1.1" viewBox="0 0 1024 800" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
        <path class="fill-comics" d="M903.2,320.9c-13.7,0-27.3-2.6-40.4-7.9c-26.5-10.7-47.4-31.1-58.6-57.4c-11.3-26.3-11.6-55.4-0.9-81.9l44.5,18c-5.9,14.5-5.7,30.5,0.5,45c6.2,14.5,17.7,25.8,32.5,31.7c14.7,5.9,30.8,5.8,45.4-0.3c14.5-6.1,25.7-17.5,31.6-32l44.5,18c-10.7,26.5-31.1,47.2-57.5,58.3C931.5,318.1,917.3,320.9,903.2,320.9z"></path>
        <path class="fill-fashion" d="M98.1,281.3l-40.7-25.4c17.2-27.5,8.6-64-19.1-81.3c-27.7-17.3-64.3-9.1-81.4,18.4l-40.7-25.4c31.2-49.9,97.4-65.1,147.6-33.7C113.9,165.3,129.3,231.4,98.1,281.3z"></path>
      </svg>
    </div>
    <div class="absolute full-height full-width t0" data-0="top: 0px;" data-800="top: 100px;">
      <svg enable-background="new 0 0 1024 800" version="1.1" viewBox="0 0 1024 800" width="100%" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
        <path class="fill-film" d="M985.3,596.8c-35,0-69.3-17.1-89.7-48.5l40.3-26.1c17.7,27.2,54.3,34.8,81.8,17c13.3-8.6,22.5-21.9,25.8-37.4c3.3-15.4,0.4-31.1-8.1-44.3l40.3-26.1c15.6,23.9,20.8,52.5,14.8,80.5c-6,27.9-22.6,51.9-46.6,67.5C1025.6,591.2,1005.3,596.8,985.3,596.8z"></path>
      </svg>
    </div>
    <div class="absolute full-height full-width t0" data-0="top: 0px;" data-250="top: 40px;">
      <svg enable-background="new 0 0 1024 800" version="1.1" viewBox="0 0 1024 800" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
        <path class="fill-art" d="M466.7,111.9c-12.9,0-25.8-2.4-38.2-7.1l17.2-44.8c14.6,5.6,30.6,5.2,45-1.3c14.4-6.5,25.5-18.2,31.2-33c11.7-30.5-3.4-64.8-33.6-76.4l17.2-44.8c55,21.1,82.5,83.2,61.3,138.4c-10.3,26.7-30.3,47.9-56.3,59.6C496.4,108.7,481.6,111.9,466.7,111.9z"></path>
        <path class="fill-publishing" d="M124,667.6c-33.1,0-65.6-15.2-86.5-43.9l38.8-28.2c19.1,26.2,56.1,31.9,82.5,12.7c26.5-19.2,32.5-56.2,13.4-82.4l38.8-28.2c34.6,47.6,23.8,114.7-24,149.5C168,660.9,145.9,667.6,124,667.6z"></path>
      </svg>
    </div>
    <div class="absolute full-height full-width t0" data-0="top: 0px;" data-800="top: 120px;">
      <svg enable-background="new 0 0 1024 800" version="1.1" viewBox="0 0 1024 800" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
        <path class="fill-green-light" d="M512.6,540c-26.1-11.6-46.1-32.7-56.2-59.5c-10.2-26.7-9.3-55.8,2.3-82c11.6-26.2,32.7-46.2,59.4-56.6c26.7-10.3,55.8-9.6,81.8,2l-19.5,43.8c-14.3-6.4-30.3-6.8-45-1.1c-14.7,5.7-26.4,16.8-32.9,31.3c-6.5,14.5-6.9,30.6-1.3,45.4c5.6,14.7,16.6,26.3,30.9,32.7L512.6,540z"></path>
        <path class="fill-fashion" d="M584.1,791.9c-4.5-28.2,2.4-56.5,19.3-79.6c16.9-23.1,41.7-38.2,70-42.7c28.3-4.5,56.6,2.3,79.8,19c23.2,16.8,38.4,41.5,42.9,69.7l-47.4,7.5c-2.5-15.5-10.8-29.1-23.6-38.3c-12.8-9.2-28.5-13-44.2-10.5c-15.7,2.5-29.4,10.9-38.8,23.6c-9.3,12.7-13.1,28.2-10.6,43.7L584.1,791.9z"></path>
      </svg>
    </div>

  </div>
  <div class="relative">

    <%= form_for(@project, :url => {:action => 'create'}) do |f| %>
        <div class="full-height" id="start-form">
          <h1 class="light center pt2 mb6">What are you going to create?</h1>
          <div class="sentence margin-auto clearfix">
            <div class="sentence-intro nowrap" style="text-align: center;white-space: nowrap;">
              <p class="h2 inline-block">I want to start <span class="a-an">an</span></p>

              <span style="border-color: #2BDE73;min-width: 260px;background-color: #ffffff;text-align: left;"
                    class="ksr-select ksr-select-light ksr-select-big has-options ml1 mr1 h2 js-rotate-categories ksr-select__start category-id-1" id="category_select">
              <span class="title normal relative transition-all no-wrap">Art</span>
              <svg aria-hidden="true" class="svg-icon__arrow-down h3"><use xlink:href="#arrow-down"></use></svg>
                <%= f.select :category, options_for_select([['Art', 'Art'],['Comics', 'Comics'],['Crafts', 'Crafts'],['Dance', 'Dance'],['Design', 'Design'],
                                                            ['Fashion', 'Fashion'],['Film & Video', 'Film & Video'], ['Food', 'Food'],['Games', 'Games'],
                                                            ['Journalism', 'Journalism'],['Music', 'Music'],['Photography', 'Photography'],['Publishing', 'Publishing'],
                                                            ['Technology', 'Technology'],['Theater', 'Theater']]) %>

              </span>
              <p class="h2 inline-block">project called</p>
            </div>

            <div class="enter-title" style="width: 700px;margin: 0 auto;">
              <div class="field pt2" style="padding-top: 20px;">
                <%= f.text_field :title, class: 'text', placeholder: 'title...', style: 'border: none;border-bottom: 1px solid #3D3D66;border-radius: 0px;width: 100%;background-color: transparent;padding: 0 0 6px 0;font-size: 32px;' %>
                <!--<input class="text" id="project_name" name="project[name]" placeholder="title..." type="text" style="border: none;
                    border-bottom: 1px solid #3D3D66;
                    border-radius: 0px;
                    width: 100%;
                    background-color: transparent;
                    padding: 0 0 6px 0;
                    font-size: 32px;">-->
              </div>
              <div class="left pt6">
                <div class="country-not-visible left">

              <span style="color: #80809E;background-color: white;" class="ksr-select has-options mr1 ksr-select__start">
              <span class="title normal grey-dark">Select your country *</span>
              <span aria-hidden="true" class="ksr-icon__arrow-down h3 grey-dark"></span>
              <span class="ss-icon ss-delete hidden ksr-popover-excluded"></span>
              <%= f.select :location, options_for_select([['Select your country *'],['Australia', 'Australia'],['Austria', 'Austria'],['Belgium', 'Belgium'],
                                                          ['Canada', 'Canada'], ['Denmark', 'Denmark'],['France', 'France'],['Germany', 'Germany'],
                                                          ['Ireland', 'Ireland'],['Italy', 'Italy'],['Luxembourg', 'Luxembourg'], ['Netherlands', 'Netherlands'],
                                                          ['New Zealand', 'New Zealand'],['Norway', 'Norway'],['Spain', 'Spain'],['Sweden', 'Sweden'],
                                                          ['Switzerland', 'Switzerland'],['United Kingdom', 'United Kingdom'],['United States', 'United States']]) %>

              </span>

                </div>
                <div class="center h5 py6">
                  <p class="creation-location-info inline-block no-margin grey-dark ml1" style="width:450px;">
                    <span class="green">*</span>
                    Project creation is currently open to creators in Austria, Australia, Belgium, Canada, Switzerland, Germany, Denmark, Spain, France, the United Kingdom, Ireland, Italy, Luxembourg, the Netherlands, Norway, New Zealand, Sweden, and the United States
                  </p>
                </div>
              </div>
              <div class="right pt4">
                <%= f.submit 'Start', class: 'start btn btn--gray btn--mega js-project-start-button submit' %>
                <!--<input class="start btn btn&#45;&#45;gray btn&#45;&#45;mega js-project-start-button submit" name="commit" value="Start" type="submit">-->
              </div>
            </div>
          </div>
        </div>
    <% end %>




  </div>
</div>