<div id="content-wrap">
  <div class="NS_projects__project_share">
    <div class="ksr-popover z3" data-target-id="#project_share">
      <div class="arrow arrow-grey"></div>
      <div class="arrow arrow-white"></div>
      <div class="ksr-popover-title bg-grey-light full-width border-box">
        <h4 class="mb0">Share this project</h4>
        <div class="close fastclick btn btn--gray btn--small">Done</div>
      </div>
      <div class="NS_projects__project_share mobile-center">
        <div class="facebook mr2 inline-block">
          <a class="js-facebook-share grey-dark h5" data-facebook-shares-url="" href=""><span class="ss-icon ss-social-circle ss-facebook margin-right"></span>
            <b>Share</b>
            <span class="share_bubble inline-block border h6"><div class="triangle grey inline-block"></div>
        <div class="triangle white inline-block"></div>
        <span class="count grey-dark h6">2</span></span>
          </a></div>
        <div class="twitter mr2 inline-block">
          <a class="js-twitter-share grey-dark h5" href="" rel="nofollow"><span class="ss-icon ss-social-circle ss-twitter margin-right"></span>
            <b>Tweet</b>
          </a></div>
        <div class="tumblr mr2 inline-block">
          <a class="js-tumblr-share grey-dark h5" href="" rel="nofollow"><span class="ss-icon ss-social-circle ss-tumblr margin-right"></span>
            <b>Share</b>
          </a></div>
        <div class="pinterest mr2 inline-block">
          <button class="js-pinterest-share pinterest-share grey-dark h5">
            <span class="ss-icon ss-social-circle ss-pinterest margin-right"></span>
            <b>Pin</b>
          </button>
        </div>
        <div class="embed inline-block mr2">
          <a class="remote_modal_dialog js-embed-share grey-dark h5" data-modal-title="Embed a widget on your site" data-tracker-name="Embed" href=""><span class="ss-icon ss-navigateleft h6"></span>
            <span class="ss-icon ss-navigateright margin-right h6"></span>
            <b>Embed</b>
          </a></div>
        <div class="curate mr2 inline-block">
        </div>
      </div>

    </div>
    <div class="ksr-popover z3" data-target-id="#project_share_mobile">
      <div class="arrow arrow-grey"></div>
      <div class="arrow arrow-white"></div>
      <div class="ksr-popover-title bg-grey-light full-width border-box">
        <h4 class="mb0">Share this project</h4>
        <div class="close fastclick btn btn--gray btn--small">Done</div>
      </div>
      <div class="pt2">
        <a class="btn btn--twitter btn--block mb1" href="" rel="nofollow" target="_blank" title="Tweet"><span class="ss-icon ss-social ss-twitter"></span>
          Tweet
        </a>
        <a class="btn btn--facebook btn--block mb1" href="" rel="nofollow" target="_blank" title="Share on Facebook">
        <span class="ss-icon ss-social ss-facebook"></span>
        Share
      </a><button class="js-pinterest-share pinterest-share btn btn--pinterest btn--block mb1">
        <span aria-hidden="true" class="ksr-icon__pinterest"></span>
        Pin
      </button>
        <a class="btn btn--gray btn--block" href=""><span class="ss-icon ss-mail"></span>
          Email
        </a></div>
    </div>
  </div>

  <section class="NS_projects__hero_funding">
    <!-- / Hide this on mobile since we want the video to be at the top -->
    <div class="mobile-hide py4 px2">
      <div class="NS_projects__header center">

        <h2 class="normal mb1"><a class="green-dark" href="#"><%= @project.title %></a></h2>

        <p class="green-dark h5 mb0 mobile-show">
          by <b><a class="green-dark" href="#"><%= @user.name %></a></b>
        </p>
        <p class="green-dark h5 mb0 mobile-hide">
          by <b><a class="remote_modal_dialog green-dark" data-modal-class="modal_project_by" data-modal-title="About the creator" href=""><%= @user.name %></a></b>
        </p>
      </div>

    </div>
    <div class="container-flex px2">
      <div class="row">
        <div class="col-8 px-gutter left mobile-clear">
          <div class="project-image mb4" data-has-video="false" id="video-section">
            <img alt="" class="fit" src="<%= @attachment.url %>" style="height: auto;" height="576" width="1024">
          </div>

          <div class="mobile-hide">
            <div class="h5 mb3">
              <div class="NS_projects__category_location ratio-16-9">
                <a class="grey-dark mr2 nowrap" href=""><span aria-hidden="true" class="ksr-icon__location"></span>
                  <%= @project.location %>
                </a><a class="grey-dark mr2 nowrap" href=""><span aria-hidden="true" class="ksr-icon__tag"></span>
                <%= @project.category %>
              </a></div>

            </div>
            <p class="h3 mb3">
              <%= @project.blurb %>
            </p>
            <div class="mb3">
              <div class="project-share mobile-hide NS_projects__project_share">
                <div class="project-share__label">Share:</div>
                <div class="inline-block">
                  <!-- / Twitter ------------------------------- -->
                  <div class="twitter inline-block">
                    <a class="js-twitter-share project-share__btn" href="https://twitter.com/intent/tweet?text=Brand%20new%20on%20%40Kickstarter%3A%20HEART%201.0%20Revolutionary%20New%20Programming%20Language%20by%20Ryan%20Watson&amp;url=http%3A%2F%2Fkck.st%2F29WGboh" rel="nofollow"><svg aria-hidden="true" class="svg-icon__twitter project-share__icon"><use xlink:href="#twitter"></use></svg>
                      <b>Tweet</b>
                    </a></div>
                  <!-- / Facebook ------------------------------- -->
                  <div class="facebook inline-block">
                    <a class="js-facebook-share project-share__btn" data-facebook-shares-url="" href=""><svg aria-hidden="true" class="svg-icon__facebook-box project-share__icon"><use xlink:href="#facebook-box"></use></svg>
                      <b>Share</b>
                    </a></div>
                  <!-- / Embed ------------------------------- -->
                  <div class="embed inline-block">
                    <a class="remote_modal_dialog js-embed-share project-share__btn" data-modal-title="Embed a widget on your site" data-tracker-name="Embed" href=""><svg aria-hidden="true" class="svg-icon__embed project-share__icon"><use xlink:href="#embed"></use></svg>
                      <b>Embed</b>
                    </a></div>
                  <!-- / Pinterest  ------------------------------- -->
                  <div class="pinterest inline-block">
                    <button class="js-pinterest-share pinterest-share project-share__btn">
                      <svg aria-hidden="true" class="svg-icon__pinterest project-share__icon"><use xlink:href="#pinterest"></use></svg>
                      <b>Pin</b>
                    </button>
                  </div>
                  <!-- / Tumblr ------------------------------- -->
                  <div class="tumblr inline-block">
                    <a class="js-tumblr-share project-share__btn" href="" rel="nofollow"><svg aria-hidden="true" class="svg-icon__tumblr project-share__icon"><use xlink:href="#tumblr"></use></svg>
                      <b>Post</b>
                    </a></div>
                  <!-- / Curated page projects ---------------- -->
                  <div class="curate inline-block">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-4 px-gutter project-main-content-wrap">
          <!-- / Adding some markup here allows us to more closely replicate the mobile show template -->
          <div class="mobile-show mobile-center">
            <div class="py2">
              <div class="NS_projects__header center">
                <h2 class="normal mb1"><a class="green-dark" href="">HEART 1.0 Revolutionary New Programming Language</a></h2>
                <p class="green-dark h5 mb0 mobile-show">
                  by <b><a class="green-dark" href="">Ryan Watson</a></b>
                </p>
                <p class="green-dark h5 mb0 mobile-hide">
                  by <b><a class="remote_modal_dialog green-dark" data-modal-class="modal_project_by" data-modal-title="About the creator" href=""><%= @user.name %></a></b>
                </p>
              </div>

            </div>
            <div class="projects-hero-funding__blurb">
              <%= @project.blurb %>
              <a class="bold fastclick h5 nowrap" href="">
                <span class="translation_missing" title="translation missing: en.projects.hero_funding_16x9.Read_more">Read More</span>
              </a>
            </div>
            <div class="project-progress-bar">
              <div class="project-percent-pledged" style="width: 0%"></div>
            </div>
          </div>
          <div class="NS_projects__stats project-stats-push">
            <div class="digits_1" id="stats">
              <div class="row">
                <div class="col col-12 mb1 stat-item">
                  <div class="num h1 bold" data-backers-count="0" id="backers_count">
                    <data class="Project1098491" data-format="number" data-value="0" itemprop="Project[backers_count]">0</data></div>
                  <span class="text">backers</span>
                </div>
                <div class="col col-12 mb1 stat-item">
                  <div class="num h1 bold nowrap" data-goal="100000.0" data-percent-raised="0.0" data-pledged="0.0" data-ref-tag="internal" id="pledged">
                    <data class="Project1098491" data-currency="GBP" data-format="shorter_money" data-precision="2" data-value="0.0" data-without_code="true" itemprop="Project[pledged]">$0.00</data>
                    <span class="money gbp project_currency_code"></span>
                  </div>
                  <span class="text">
                  pledged of $<span class="money gbp no-code"><%= @project.goal %></span> <span class="mobile-hide">goal</span>
                  </span>
                </div>
                <span data-duration="60.0" data-end_time="2016-09-19T15:37:31-04:00" data-hours-remaining="1429.1243854300844" id="project_duration_data"></span>
                <div class="col col-12 stat-item">
                  <div class="Project1098491" data-conditions="[{&quot;!state&quot;:[&quot;canceled&quot;,&quot;suspended&quot;]}]" data-evaluation="true" data-render="&quot;<div class=\&quot;ksr_page_timer poll stat\&quot; data-dynamic=\&quot;5\&quot; data-end_time=\&quot;2016-09-19T15:37:31-04:00\&quot; data-poll_url=\&quot;https://www.kickstarter.com/projects/716513718/heart-10-revolutionary-new-programming-language/stats.json?v=1\&quot;>\n<div class=\&quot;num h1 bold\&quot;>&amp;nbsp;</div>\n<span class=\&quot;text\&quot;>&amp;nbsp;</span>\n</div>\n&quot;"><div class="ksr_page_timer poll stat" data-dynamic="5" data-end_time="2016-09-19T15:37:31-04:00" data-poll_url="https://www.kickstarter.com/projects/716513718/heart-10-revolutionary-new-programming-language/stats.json?v=1">
                    <div class="num h1 bold"><%= @project.duration %></div>
                    <span class="text">days to go</span>
                  </div>
                  </div></div>
              </div>
            </div>
          </div>

          <!-- / Only renders for non live projects -->
          <!-- / Back manage and star buttons -->

          <div style="min-height: 70px;"></div>
          <div class="mobile-show mobile-center pt2 border-top">
            <div class="NS_projects__category_location ratio-16-9">
              <a class="grey-dark mr2 nowrap" href="/discover/places/harrogate-borough-gb?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                <%= @project.location %>
              </a><a class="grey-dark mr2 nowrap" href="/discover/categories/technology/software?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
              <%= @project.category %>
            </a></div>

            <div class="btn btn--border-gray btn--small mb2" href="#" id="project_share_mobile"><span class="translation_missing" title="translation missing: en.projects.hero_funding_16x9.Share_this_project">Share This Project</span></div>
          </div>
          <!-- / Social avatars -->

          <div class="py4">
            <div class="row clip">
              <!-- / This project will only be funded if... -->
              <div class="NS_projects__deadline_copy">
                <div class="pr2 pl2">
                  <div class="Project1098491" data-conditions="[{&quot;state&quot;:&quot;live&quot;}]" data-evaluation="true" data-render="&quot;<p class=\&quot;h6 c-navy-light mb2\&quot;>\nThis project will only be funded if at least <span class=\&quot;money gbp no-code\&quot;>£100,000</span> is pledged by <time class=\&quot;invisible-if-js js-adjust-time\&quot; data-format=\&quot;llll z\&quot; datetime=\&quot;2016-09-19T15:37:31-04:00\&quot;>Mon, Sep 19 2016 3:37 pm EDT</time>.\n</p>\n&quot;"><p class="h6 c-navy-light mb2">
                    This project will only be funded if at least <span class="money gbp no-code">£100,000</span> is pledged by <time class="js-adjust-time" data-format="llll z" datetime="2016-09-19T15:37:31-04:00">Mon, Sep 19 2016 2:37 PM PET</time>.
                  </p>
                  </div></div>
              </div>

              <div class="NS_projects__creator">
                <div class="col-right col-4 align-right mobile-center pr2 border-box">
                  <div class="mobile-hide"><a class="remote_modal_dialog" data-modal-class="modal_project_by" data-modal-title="About the creator" href="#">
                    <img alt="" class="avatar-small circle" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=40&h=40&fit=crop&v=&auto=format&q=92&s=8c0db61c92692000c2678b375fc31714" style="height: auto;" height="80" width="80"></a></div>
                  <div class="mobile-show"><a href="#">
                    <img alt="" class="avatar-small circle" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=40&h=40&fit=crop&v=&auto=format&q=92&s=8c0db61c92692000c2678b375fc31714" style="height: auto;" height="80" width="80"></a></div>
                </div>

                <div class="col col-8">

                  <h5 class="mobile-hide"><a class="remote_modal_dialog green-dark" data-modal-class="modal_project_by" data-modal-title="About the creator" href="#"><%= @user.name %></a></h5>

                  <div class="mobile-show center py1">
                    <h5 class="mb1">Project by </h5><h3 class="normal mb0"><a class="green-dark" href="#">Ryan Watson</a></h3>
                  </div>
                  <div class="flag mobile-hide">
                    <div class="flag-img">
                      <span class="ss-social-circle ss-kickstarter h6 grey-dark"></span>
                    </div>
                    <div class="flag-body">
                      <p class="h5 mb0">
<span class="inline-block">
<span class="grey-dark">First created</span>
<span class="grey-dark">&nbsp;|&nbsp;</span>
</span>
                        <span class="inline-block">
<span class="grey-dark">0 backed</span>
</span>
                      </p>
                    </div>
                  </div>
                  <div class="mb1 mobile-hide">
                    <div class="flag">
                      <div class="flag-img">
                        <span class="ss-icon ss-globe h6 grey-dark"></span>
                      </div>
                      <div class="flag-body">
                        <p class="h5 mb0 grey-dark ellipsis">
                          <a class="bold grey-dark popup" href="http://www.simularte.com" rel="nofollow" target="_blank">www.simularte.com</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <p class="h5 bold mobile-hide">
                    <a class="remote_modal_dialog full_bio mr2" data-modal-class="modal_project_by" data-modal-title="About the creator" href="#">See full bio</a>
                    <a class="remote_modal_dialog message_creator_modal_link" data-modal-class="modal_send_message" data-modal-title="Send a message to Ryan Watson" href="#">Contact me</a>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>