<style>
  .myhero {
    background-image: url('https://static.kickstarter.com/assets/projects/learn/confetti-bg-40ba994a0c5e274aed6897d4bb0c928dc0044e811bdde2846d7f40ef9440ce69.jpg');
    padding-bottom: 0px;
    overflow: visible;
    min-height: 300px;
    padding: 80px 0px;
  }
  .myherocat{
    margin-top: 90px;
    background-color: rgba(255,255,255,0.5);
  }
  .myitems{
    margin: 0 8px 20px;
  }
</style>
<div id="content-wrap">
  <div id="content">
    <section class="bg-cover bg-center center myhero" id="hero">
      <div class="container">
        <h1 class="normal_weight h60 pl4 pr4">“The world is but a canvas to our imagination”</h1>
        <p class="h5 grey-dark mb4">— Henry David Thoreau</p>
        <%= link_to '/projects/new', class: 'btn btn--green btn--large' do %>
        <span>Start a project</span>
        <% end %>
        <!--<a class="btn btn&#45;&#45;green btn&#45;&#45;large" href="/start?ref=learn_top">Start a project</a>-->
      </div>

      <div class="categories bg-white-50 center pt2 myherocat">
        <h4 class="grey-dark mb2">Learn more about our project categories:</h4>
        <ul class="list-inline margin-auto mb0" style="width: 1000px">
          <li class="myitems">
            <a class="btn btn--gray art-background" data-name="art" href="/discover/categories/art">Art</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray comics-background" data-name="comics" href="/discover/categories/comics">Comics</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray crafts-background" data-name="crafts" href="/discover/categories/crafts">Crafts</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray dance-background" data-name="dance" href="/discover/categories/dance">Dance</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray design-background" data-name="design" href="/discover/categories/design">Design</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray fashion-background" data-name="fashion" href="/discover/categories/fashion">Fashion</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray film-background" data-name="film-video" href="/discover/categories/film%20&amp;%20video">Film &amp; Video</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray food-background" data-name="food" href="/discover/categories/food">Food</a>
          </li>
          <li class="myitems">
            <a class="btn btn--gray games-background" data-name="games" href="/discover/categories/games">Games</a>
          </li>

        </ul>
      </div>
    </section>

  </div>
</div>