<footer class="mega-footer js-mega-footer" role="contentinfo">
  <div class="mega-footer__newsletter-signup js-mega-footer__newsletter-signup">
    <div class="container-flex">
      <div class="col-center col-6">
        <h2 class="h2">Eureka! You've found<br> our little secret.</h2>
        <p>Sign up for our Happening email for all the inside info about arts and culture in the Kickstarter universe and beyond.</p>
        <div class="newsletter-signup">
          <form accept-charset="UTF-8" action="/newsletters/happening/signup" class="overlabels" method="post"><div style="display:none"><input class="hidden" name="utf8" value="✓" type="hidden"><input class="hidden" name="authenticity_token" value="Bdc/0FtE/KlMiCmgCCIZ5xE0MhT9qWnvvNKZzQ4YfiA=" type="hidden"></div><input class="hidden" id="location" name="location" value="footer" type="hidden">
            <textarea class="hide textarea" id="comment" name="comment"></textarea>
            <input class="btn  button_submit submit_no_user appended-button-right submit" name="commit" value="Subscribe" type="submit">
            <div class="field append-button-right">
              <label class="overlabel z1 overlabel-newsletter ellipsis-line overlabel-apply">Email address</label>
              <input class="newsletter_email_input append-button-right__input text" id="email" name="email" type="text">
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
  <div class="mega-footer__content js-mega-footer__content container-flex">
    <span class="scissors icon-scissors-1"></span>
    <div class="row mega-footer__links">
      <div class="col col-6 mobile-col mobile-col-6">
        <div class="row">
          <div class="col col-6 mega-footer__links-list">
            <h3 class="mega-footer__header">About us</h3>
            <ul>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/about?ref=footer">What is Kickstarter?</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/team?ref=footer">Who we are</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/jobs?ref=footer">Jobs</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/press?ref=footer">Press</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/help/stats?ref=footer">Stats</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/newsletters?ref=footer">Newsletters</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/spotlight">Spotlight</a></li>
              <li>
                <a class="mega-footer__link" href="https://drip.kickstarter.com/" target="_blank"><span class="translation_missing" title="translation missing: en.layouts.footer.Drip">Drip</span></a>
                <span class="flag-callout">New!</span>
              </li>
            </ul>
          </div>
          <div class="col col-6 mega-footer__links-list">
            <h3 class="mega-footer__header"><a class="mega-footer__header-link" href="https://www.kickstarter.com/help?ref=footer">Help</a></h3>
            <ul>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/help/faq/kickstarter+basics?ref=footer">FAQ</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/rules?ref=footer">Our Rules</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/help/handbook?ref=footer">Creator Handbook</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/campus?ref=footer">Campus</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/trust?ref=footer">Trust &amp; Safety</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/contact?ref=footer">Support</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/terms-of-use?ref=footer">Terms of Use</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/privacy?ref=footer">Privacy Policy</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/cookies?ref=footer">Cookie Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-6 mobile-col mobile-col-6">
        <div class="row">
          <div class="col col-8 mega-footer__links-list">
            <h3 class="mega-footer__header"><a class="mega-footer__header-link" href="https://www.kickstarter.com/discover/advanced?ref=footer">Discover</a></h3>
            <div class="row">
              <ul class="col col-6 column-0">
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/art?ref=footer">Art</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/comics?ref=footer">Comics</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/crafts?ref=footer">Crafts</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/dance?ref=footer">Dance</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/design?ref=footer">Design</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/fashion?ref=footer">Fashion</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/film%20&amp;%20video?ref=footer">Film &amp; Video</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/food?ref=footer">Food</a></li>
              </ul>
              <ul class="col col-6 column-1">
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/games?ref=footer">Games</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/journalism?ref=footer">Journalism</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/music?ref=footer">Music</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/photography?ref=footer">Photography</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/publishing?ref=footer">Publishing</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/technology?ref=footer">Technology</a></li>
                <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/theater?ref=footer">Theater</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-4 mega-footer__links-list">
            <h3 class="mega-footer__header">Hello</h3>
            <ul>
              <li>
                <a class="mega-footer__link" href="https://www.kickstarter.com/happening?ref=footer">Happening</a>
              </li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/blog?ref=footer">Company Blog</a></li>
              <li><a class="mega-footer__link" href="https://www.kickstarter.com/backing-and-hacking?ref=footer">Engineering Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mega-footer__bottom">
      <div class="row">
        <div class="col col-6">
          <a class="ksr-logo footer-logo" href="https://www.kickstarter.com/"><span>KICKSTARTER</span>
          </a><p>
          ©
          2016
        </p>
        </div>
        <div class="col col-6">
          <form accept-charset="UTF-8" action="https://www.kickstarter.com/remember_language" class="js-change-language" method="post"><div style="display:none"><input class="hidden" name="utf8" value="✓" type="hidden"><input class="hidden" name="authenticity_token" value="Bdc/0FtE/KlMiCmgCCIZ5xE0MhT9qWnvvNKZzQ4YfiA=" type="hidden"></div>
            <div class="ksr-select ondark right mobile-left h5">
              <div class="title">English</div>
              <svg aria-hidden="true" class="svg-icon__arrow-down"><use xlink:href="#arrow-down"></use></svg>
              <select class="select" id="lang" name="lang"><option selected="selected" value="en">English</option>
                <option value="de">Deutsch</option>
                <option value="es">Español</option>
                <option value="fr">Français</option></select>
            </div>
          </form>

          <div class="mega-footer__social right">
            <ul>
              <li class="mega-footer__social-item">
                <a class="mega-footer__link" href="https://twitter.com/kickstarter" target="_blank"><svg aria-hidden="true" class="svg-icon__twitter"><use xlink:href="#twitter"></use></svg>
                </a></li>
              <li class="mega-footer__social-item">
                <a class="mega-footer__link" href="https://www.facebook.com/Kickstarter" target="_blank"><svg aria-hidden="true" class="svg-icon__facebook"><use xlink:href="#facebook"></use></svg>
                </a></li>
              <li class="mega-footer__social-item">
                <a class="mega-footer__link" href="http://kickstarter.tumblr.com/" target="_blank"><svg aria-hidden="true" class="svg-icon__tumblr"><use xlink:href="#tumblr"></use></svg>
                </a></li>
              <li class="mega-footer__social-item">
                <a class="mega-footer__link" href="http://instagram.com/kickstarter" target="_blank"><svg aria-hidden="true" class="svg-icon__instagram"><use xlink:href="#instagram"></use></svg>
                </a></li>
              <li class="mega-footer__social-item">
                <a class="mega-footer__link" href="https://www.pinterest.com/kickstarter/" target="_blank"><svg aria-hidden="true" class="svg-icon__pinterest"><use xlink:href="#pinterest"></use></svg>
                </a></li>
              <li class="mega-footer__social-item">
                <a class="mega-footer__link" href="https://www.youtube.com/user/kickstarter" target="_blank"><svg aria-hidden="true" class="svg-icon__youtube"><use xlink:href="#youtube"></use></svg>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>