<!-- N/A -->
<div class="NS_layouts__notifications"></div>

<!-- MOBILE LOGO -->
<div class="site-nav-mobile mobile-show">
  <a class="site-nav__item site-nav__item--logo site-nav__item--logo--mobile" href="/">
    <%= image_tag('logo00.png', :style => 'height: 16px;width: 175px;margin-top: 22px;margin-left: 25px;') %>
    <h1 class="site-nav__item-label">Garagehunter</h1>
  </a>
</div>

<!-- BROWSER HEADER -->
<div class="site-nav-frame js-site-nav-container" role="navigation">
  <div aria-hidden="true" class="site-nav-container site-nav-container--search" id="js-nav-search">
    <div class="site-nav-unit site-nav-unit--search">
      <nav class="site-nav-base site-nav--search">
        <div class="site-nav__left">
          <div class="site-nav__item site-nav__item--searchbar js-searchbar js-header-livesearch site-nav__item--searchbar--visible">
            <form accept-charset="UTF-8" action="/projects/search" class="site-nav__search-form" method="get" role="search"><div style="display:none"><input class="hidden" name="utf8" value="✓" type="hidden"></div>
              <svg aria-hidden="true" class="svg-icon__search js-search-icon"><use xlink:href="#search"></use></svg>
              <svg aria-hidden="true" class="svg-icon__loading-spin js-loading-spinner hide"><use xlink:href="#loading-spin"></use></svg>
              <input autocomplete="off" tabindex="0" aria-label="Search projects" class="site-nav__search-input js-search-term text" data-tracker-name="Header Live Search" id="term" name="term" placeholder="Search" type="text">
            </form>

          </div>
        </div>
        <div class="site-nav__right">
          <button aria-label="Close Search" class="site-nav__item site-nav__item--close js-toggle-search" data-nav="primary" href="#">
            <svg aria-hidden="true" class="svg-icon__close"><use xlink:href="#close"></use></svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
  <div class="site-nav-container site-nav-container--main active-nav--primary">
    <div class="site-nav-unit site-nav-unit--primary" id="js-nav-primary">
      <nav class="site-nav-base site-nav--primary">
        <h2 class="for-screenreader" id="main-navigation">Main menu</h2>
        <div class="site-nav__left">
          <a class="site-nav__item site-nav__item--skip-to-content site-nav__item--text skip-to-content skip-to-content__link" href="#start-of-content">
            <span class="site-nav__item-label"><span class="translation_missing" title="translation missing: en.layouts.mars_nav_skip_to_content.Skip_to_content">Skip To Content</span></span>
          </a>

          <a class="site-nav__item site-nav__item--text" href="https://www.kickstarter.com/discover?ref=nav">
            <span class="site-nav__item-label">Discover</span>
          </a>
          <%= link_to '/projects', class: 'site-nav__item site-nav__item--text' do %>
            <span class="site-nav__item-label">Start <span class="mobile-hide">a project</span></span>
          <% end %>
          <!--<a class="site-nav__item site-nav__item&#45;&#45;text" href="https://www.kickstarter.com/learn?ref=nav">
            <span class="site-nav__item-label">Start <span class="mobile-hide">a project</span></span>
          </a>-->
          <a class="site-nav__item site-nav__item--text site-nav__item--about" href="https://www.kickstarter.com/about?ref=nav">
            <span class="site-nav__item-label">About us</span>
          </a>
        </div>
        <div class="site-nav__middle">
          <a class="site-nav__item site-nav__item--logo" href="/">
            <%= image_tag('logo00.png', :style => 'height: 16px;width: 175px;margin-top: 22px;') %>
            <h1 class="site-nav__item-label">Garagehunter</h1>
          </a>
        </div>

        <div class="site-nav__right">
          <a aria-label="Enter Search" class="site-nav__item site-nav__item--search js-toggle-search" data-nav="search" href="#">
            <svg aria-hidden="true" class="svg-icon__search"><use xlink:href="#search"></use></svg>
            <span class="site-nav__item-label">Enter Search</span>
          </a>

          <% if logged_in? %>
            <%= link_to '/users/logout', class: 'site-nav__item site-nav__item--text' do %>
              <span class="site-nav__item-label">Log out</span>
            <% end %>
            <a  id="ancSession" class="js-tab-expand site-nav__item site-nav__item--user" href="#">
              <div class="notification-indicator-and-avatar">
                <img class="site-nav__user-avatar" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=40&amp;h=40&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=8c0db61c92692000c2678b375fc31714">
              </div>
            </a>

            <!--<a aria-expanded="false" aria-haspopup="true" aria-label="User dropdown menu" class="js-tab-expand site-nav__item site-nav__item&#45;&#45;user js-user-menu-tab" href="/profile/1654542528?ref=nav" id="js-user_nav_select">
              <div class="notification-indicator-and-avatar">
                <img alt="Missing avatar" class="site-nav__user-avatar" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=40&amp;h=40&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=8c0db61c92692000c2678b375fc31714">
              </div>
            </a>-->
          <% else %>
            <%= link_to 'login', :class => 'site-nav__item site-nav__item--text' do %>
                <span class="site-nav__item-label"><span class="translation_missing" title="translation missing: en.layouts.mars_nav_user.Log_in">Log In</span></span>
            <% end %>
            <%= link_to 'signup', :class => 'site-nav__item site-nav__item--text site-nav__item--signup' do %>
                <span class="site-nav__item-label"><span class="translation_missing" title="translation missing: en.layouts.mars_nav_user.Sign_up">Sign Up</span></span>
            <% end %>
          <% end %>




        </div>
      </nav>
    </div>

  </div>
</div>

<!-- SEARCH BAR -->
<div style="" class="livesearch-wrap js-livesearch-wrap hide">
  <div class="livesearch-container js-livesearch-container">
    <h3 class="livesearch-header"></h3>
    <div class="livesearch-results js-livesearch-results"></div>
    <div class="mr2 mt1">
      <a class="livesearch-see-all-results js-livesearch-see-all-results btn btn--border-gray-thin btn--block hidden"></a>
      <div class="grey-dark small_type js-livesearch-displaying-results mt3 hidden"></div>
    </div>
    <a class="js-prev prev arrow">
      <svg aria-label="Previous results" class="svg-icon__arrow-left"><use xlink:href="#arrow-left"></use></svg>
    </a>
    <a class="js-next next arrow">
      <svg aria-label="Next results" class="svg-icon__arrow-right"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </div>
</div>

<!-- DROP DOWN -->
<div class="user-dropdown js-user-dropdown creator">
  <div class="user-options" id="menu-me-children">


    <div class="NS_layouts__user_dropdown_backer_creator_columns">
      <div class="menu-me-created dropdown-column" id="menu-me-created">
        <h3 class="dropdown-menu-header" style="font-size: 14px;">My projects</h3>
        <ul class="js-dropdown_group dropdown-menu" style="font-size: 14px;margin-bottom: 20px;">

          <% if logged_in? %>
            <% @projects.each do |pro| %>
              <li class="project-title">
                <a href="/projects/<%= pro.id %>">
                  <img alt="" class="project-thumb" src="<%= pro.url %>" style="width: 64px;">
                  <span style="top: -14px;position: relative;"><%= pro.title %></span>
                </a>
              </li>
            <% end %>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <div class="user-menu-footer">
    <div class="row">
      <div class="col">
        You're logged in as <b><% if logged_in? %><%= @current_user.name %><% end %></b>
        &nbsp;
        <span class="mobile-show"></span>
        <a href="#">Log out</a>
      </div>
    </div>
  </div>
</div>