<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="telephone=no" name="format-detection">
<meta content="width=device-width,initial-scale=1" name="viewport">

<link href="/base-f2587d1b895cc9d152ffd4a08480beef23c5ca01e8cb6b9b14da7a633d30881e.css" media="screen,print" rel="stylesheet">
<link href="https://static.kickstarter.com/favicon.ico" rel="icon" type="image/x-icon">
<link rel="alternate" href="https://www.kickstarter.com/" hreflang="en">
<style>
  svg-icon__mars-search {
    width: 16px;
    height: 16px;
  }
</style>


<script src="https://www.kickstarter.com/locale/d364/en.js"></script>

<script>
  (function (root) {
    function instrument_function (original) {
      return function () {
        try {
          return original.apply(this, arguments);
        } catch (e) {
          if (e.stack && root.Honeybadger) {

            // sample 10% of errors so we don't overwhelm honeybadger
            if (parseInt(Math.random() * 10, 10) === 0) {
              Honeybadger.notify(e, {
                current_project : root.current_project,
                current_user : root.current_user
              });
            }

          }
          throw(e);
        }
      };
    }
    root.instrument_function = instrument_function;
  }(this));
</script>

<script>
  instrument_function(function(n){!function(){function n(n,t){return n.split(".").reduce(function(n,t){var e=typeof n,o="function"===e||"object"===e&&!!n;return o?n[t]:n},t)}function t(n,t){var e,o=parseInt(t.count,10);return"number"!=typeof o||isNaN(o)||(e=Object.keys(c).filter(function(n){return-1!==c[n].indexOf(o)?n:void 0}),0===e.length&&(e="other")),n[e]}function e(n,t){return n.replace(/\{\{\{\s*(\w+)\s*\}\}\}/g,function(n,e){return void 0==t[e]?n:t[e]}).replace(/\{\{\s*(\w+)\s*\}\}/g,function(n,e){return void 0==t[e]?n:o(t[e])})}function o(n){return String(n).replace(/[&<>"'\/]/g,function(n){return f[n]})}function r(n){var t=n.split("."),e=t[t.length-1];return e=e.replace(/_/g," "),e=e.replace(/(\w+)/g,function(n){return n.charAt(0).toUpperCase()+n.slice(1)})}function i(o,i){if(i=i||{},"undefined"!=typeof u.translations){var c=n(o,u.translations[u.locale])||i["default"];return"undefined"==typeof c&&(c=n(o,u.translations[u.default_locale])),"object"==typeof c&&(c=t(c,i)),"string"==typeof c&&(c=e(c,i)),"undefined"==typeof c&&(c=r(o),u.debug&&window.console.log("I18n key is missing: ",o)),c}}var u=window.I18n=window.I18n||{},c={zero:[0],one:[1],two:[2],few:[3],many:[],other:[]},f={"&":"&amp;","<":"&lt;",">":"&gt;",'"':"&quot;","'":"&#39;","/":"&#x2F;"};window.localStorage&&(u.debug=1===parseInt(localStorage.getItem("i18n_debug"),10)),u.t=i}()})(this);
  instrument_function(function(t){!function(){function t(t){this.local_start_time=new Date,this.settings={cookie_name:"request_time"};for(var e in t)t.hasOwnProperty(e)&&(this.settings[e]=t[e]);this.get_remote_offset()}t.prototype.get_remote_offset=function(){this.cookie_value=this.read_cookie();var t=new Date(this.cookie_value);this.cookie_value&&"Invalid Date"!==t.toString()?this.remote_offset=t-this.local_start_time:(this.remote_offset=this.read_cookie("local_offset"),this.remote_offset&&(this.remote_offset=parseInt(this.remote_offset,10))),"undefined"==typeof this.remote_offset||isNaN(this.remote_offset)?this.is_set=!1:(document.cookie="local_offset="+this.remote_offset+"; path=/",this.is_set=!0)},t.prototype.time_units=[["milliseconds",1],["seconds",1e3],["minutes",6e4],["hours",36e5],["days",864e5]],t.prototype.get_units_in_interval=function(t,e){var i=t.replace(/^\w/,function(t){return"get"+t.toUpperCase()});return e[i]()},t.prototype.milliseconds_in_day=function(t){"undefined"==typeof t&&(t=new Date);for(var e=0,i=this.time_units.length-2;i>=0;i-=1)e+=this.get_units_in_interval(this.time_units[i][0],t)*this.time_units[i][1];return e},t.prototype.milliseconds_in_interval=function(t,e){return this.milliseconds_in_day(e)%t},t.prototype.milliseconds_to_next_interval=function(t,e){return t-this.milliseconds_in_interval(t,e)},t.prototype.pluralize=function(t,e){return 1===e&&(t=t.replace(/s$/,"")),t},t.prototype.read_cookie=function(t){for(var e=window.document.cookie.split(";"),i=(t||this.settings.cookie_name)+"=",n=0;n<e.length;n+=1){for(var o=e[n];" "===o.charAt(0);)o=o.substring(1,o.length);if(0===o.indexOf(i)){var s=o.substring(i.length,o.length);return decodeURIComponent(s).replace(/\+/g," ")}}return null},t.prototype.destroy_cookie=function(t){var e=new Date;t||(t=this.settings.cookie_name),e.setTime(e.getTime()-864e5),window.document.cookie=t+"=; expires="+e.toGMTString()+"; path=/"},t.prototype.get_remote_time=function(){var t=new Date,e=t.getTime()+this.remote_offset;return t=t.setTime(e)},window.ksr_page_clock=new t}(),function(){function t(t,e,i){if(t){this.options={unit_base:{seconds:119,minutes:119,hours:72,days:0},count_down:t.getAttribute("data-dynamic")||!1};for(var n in i)i.hasOwnProperty(n)&&(this.options[n]=i[n]);this.clock=e,this.time_units=this.clock.time_units.slice(1),this.element=t,this.clock.is_set&&this.attach()}}function e(){this.elements=[],this.attach()}var i=function(t,e){var i=e||window.document;return i.querySelectorAll(t)};t.prototype.get_remaining_time=function(){var t=this.remote_end_time-this.clock.get_remote_time();return 0>t&&(t=0),t},t.prototype.get_current_unit=function(){for(var t,e=0;e<this.time_units.length&&(t=this.time_units[e],!(this.get_remaining_time()<=this.options.unit_base[t[0]]*t[1]));e+=1);return t},t.prototype.update_element=function(){var t=this.get_current_unit(),e=Math.floor(this.get_remaining_time()/t[1]),i=I18n.t("onloads.page_timer."+t[0]+"_count",{count:e});isNaN(e)||(this.number_element.innerHTML=e,this.text_element.innerHTML=i)},t.prototype.valid=function(){return!(!this.number_element||!this.text_element)},t.prototype.attach=function(){function t(){if(e.update_element(),e.options.count_down&&e.get_remaining_time()>0){var i=e.get_current_unit();this.timeout=window.setTimeout(t,e.clock.milliseconds_to_next_interval(i[1]))}}var e=this;this.remote_end_time_string=this.element.getAttribute("data-end_time"),this.remote_end_time_string&&(this.remote_end_time_string.match(/^\d+$/)?(this.remote_end_time=new Date,this.remote_end_time.setTime(this.remote_end_time_string)):this.remote_end_time=new Date(this.remote_end_time_string),this.number_element=i(".num",this.element)[0],this.text_element=i(".text",this.element)[0],this.element.ksr_page_timer=!0,this.valid()&&t())},t.prototype.cancel=function(){this.timeout&&clearTimeout(this.timeout)},e.prototype.loading=!0,e.prototype.stop_finding=function(){this.attach_timers(),this.loading=!1,document.addEventListener?document.removeEventListener("DOMContentLoaded",this.stop_finding,!1):document.attachEvent&&"complete"===document.readyState&&document.detachEvent("onreadystatechange",this.stop_finding)},e.prototype.bind_ready=function(){var t=this,e=function(){t.stop_finding.call(t)};document.addEventListener?(document.addEventListener("DOMContentLoaded",e,!1),window.addEventListener("load",e,!1)):document.attachEvent&&(document.attachEvent("onreadystatechange",e),window.attachEvent("onload",e))},e.prototype.attach_timers=function(){for(var e=i(".ksr_page_timer"),n=0;n<e.length;n+=1)e[n].ksr_page_timer||(new t(e[n],window.ksr_page_clock),this.elements.push(e[n]))};var n=0;e.prototype.attach=function(){function t(){e.attach_timers(),e.loading&&(window.setTimeout(function(){e.attach_timers()},Math.min(Math.pow(10,n),100)),n+=1)}var e=this;this.bind_ready(),t()},window.ProjectTimer=t,new e}()})(this);
</script>
