<div style="height: 718px;" class="NS_site__projects_hero bg-green-dark relative border-bottom">
  <div class="pager-dots pager absolute center full-width z_overlap_slider light-theme"></div>

  <div style="position: relative;" class="slides full-height cycle-slideshow" data-cycle-fx="fade" data-cycle-log="false" data-cycle-next=".js-carousel-next" data-cycle-pager=".pager-dots" data-cycle-prev=".js-carousel-previous" data-cycle-slides="&gt; div" data-cycle-timeout="8000">

    <% @last_projects.each do |pro| %>
      <div class="hero-slide hero-slide--mogees-play-a-new-way-to-make-music-and-play-games white cycle-slide cycle-slide-active" data-theme="dark-theme" style="background-image: url('<%= pro.url %>'); background-position: center bottom; position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; display: none;">
        <div class="hero-slide__content hero-slide__content--">
          <div class="hero-slide__interior hero-slide__interior--">
            <h1 class="hero-slide__title"><%= pro.title %></h1>
            <div class="hero-slide__subtitle">
              <%= pro.blurb %>
            </div>
            <a class="btn btn--green btn--large " href="/projects/public/<%= pro.id %>">View project</a>
          </div>
        </div>
      </div>
    <% end %>

    <!-- 1ST SLIDE -->
    <!--<div class="hero-slide hero-slide&#45;&#45;mogees-play-a-new-way-to-make-music-and-play-games white cycle-slide cycle-slide-active" data-theme="dark-theme" style="background-image: url('https://d3mlfyygrfdi2i.cloudfront.net/eccd/hphero-mogees.jpg'); background-position: center bottom; position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; display: none;">
      <div class="hero-slide__content hero-slide__content&#45;&#45;">
        <div class="hero-slide__interior hero-slide__interior&#45;&#45;">
          <h1 class="hero-slide__title">Play the World</h1>
          <div class="hero-slide__subtitle">
            Eduardo Ramos in creating smart sensors that turn everyday objects into creative interfaces for music, games, and whatever you can imagine.
          </div>
          <a class="btn btn&#45;&#45;green btn&#45;&#45;large " href="https://www.kickstarter.com/projects/mogeesplay/mogees-play-a-new-way-to-make-music-and-play-games?ref=hero">View project</a>
        </div>
      </div>
    </div>-->

    <!-- 2ND SLIDE -->
    <!--<div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: block; opacity: 1;" class="hero-slide hero-slide&#45;&#45;light hero-slide&#45;&#45;the-creative-independent cycle-slide" data-theme="light-theme">
      <div class="hero-slide__content">
        <div class="hero-slide__interior">
          <div class="container-flex px2">
            <div class="col-center col-8">
              <div class="hero-slide&#45;&#45;the-creative-independent__title">
                The<br>Creative<br>Independent
              </div>
              <div class="hero-slide&#45;&#45;the-creative-independent__subtitle bold pt4 pb4 h4">
                Coming September 2016
              </div>
              <a class="btn btn&#45;&#45;black btn&#45;&#45;large mb4 mt1" href="https://thecreativeindependent.com/" target="_blank">Learn more
              </a></div>
          </div>
        </div>
      </div>
    </div>-->

    <!-- 3RD SLIDE -->
    <!--<div class="hero-slide hero-slide&#45;&#45;alphonse-mucha-reprinting-a-lost-art-nouveau-maste-0 white cycle-slide" data-theme="dark-theme" style="background-image: url('https://d3mlfyygrfdi2i.cloudfront.net/0909/hp-mucha.jpg'); background-position: center top; position: absolute; top: 0px; left: 0px; z-index: 97; display: none; opacity: 0;">
      <div class="hero-slide__content hero-slide__content&#45;&#45;">
        <div class="hero-slide__interior hero-slide__interior&#45;&#45;">
          <h1 class="hero-slide__title">
            Alphonse Mucha's Lost Masterpiece
          </h1>
          <div class="hero-slide__subtitle">
            The Art Nouveau artist's illustrious 'Le Pater' is being printed in its
            entirety for the first time since 1899 — help unlock its secrets.
          </div>
          <a class="btn btn&#45;&#45;green btn&#45;&#45;large " href="https://www.kickstarter.com/projects/centuryguild/alphonse-mucha-reprinting-a-lost-art-nouveau-maste-0?ref=hero">View project</a>
        </div>
      </div>
    </div>-->

    <!-- 4TH SLIDE -->
    <!--<div style="position: absolute; top: 0px; left: 0px; z-index: 96; display: none; opacity: 0;" class="hero-slide hero-slide&#45;&#45;happening cycle-slide" data-theme="light-theme">
      <div class="hero-slide__content">
        <div class="hero-slide__interior">
          <div class="container-flex px4">
            <div class="col-center col-6">
              <img alt="Happening" class="fit" src="https://static.kickstarter.com/assets/happening/light-happening-title-treatment-aeb5f14419345bf367adda7386be47375ce0fb48d81e97ba4e9bf12b36f38ff3.svg">
              <div class="happening-subtitle mb4">
                The latest in art, culture, and technology.
              </div>
              <a class="btn btn&#45;&#45;green btn&#45;&#45;large" href="https://www.kickstarter.com/happening?ref=hero">Take a look!</a>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <!-- 5TH SLIDE -->
    <!--<div class="hero-slide hero-slide&#45;&#45;mobile_promo white cycle-slide" data-theme="dark-theme" style="background-image: url('https://d3mlfyygrfdi2i.cloudfront.net/HPHero_2-o.png'); background-position: right bottom; position: absolute; top: 0px; left: 0px; z-index: 95; display: none; opacity: 0;">
      <div class="hero-slide__content">
        <div class="hero-slide__interior">
          <h1 class="hero-slide__title">
            Thousands of inspiring ideas, all in the palm of your&nbsp;hand.
          </h1>
          <div class="hero-slide__subtitle">
            Your favorite projects are just a few taps away with Kickstarter for iPhone<sup class="superscript">®</sup>, iPad<sup class="superscript">®</sup>, and&nbsp;Android<sup class="superscript">™</sup>.
          </div>
          <a class="btn btn&#45;&#45;dark-green btn&#45;&#45;large " href="https://www.kickstarter.com/mobile?ref=hero">Get the app</a>
        </div>
      </div>
    </div>-->

  </div>



  <div class="pager next js-carousel-next absolute t0 b0 r0 pl4 pr4 transition-all z_overlap_slider light-theme">
    <div class="table full-height align-right">
      <div class="table-cell align-middle">
        <svg class="mb2" enable-background="new 0 0 32 64" height="64px" version="1.1" viewBox="0 0 32 64" width="32px" x="0px" xml:space="preserve" xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
          <g display="none" id="Layer_2">
            <rect display="inline" fill="#ffffff" height="112" width="128" x="-71" y="-20"></rect>
          </g>
          <g id="Layer_1">
            <g>
              <path class="transition-all" d="M7.998,64c-0.41,0-0.824-0.126-1.181-0.387c-0.891-0.653-1.083-1.905-0.431-2.796l21.136-28.821L6.509,3.178c-0.65-0.893-0.455-2.144,0.438-2.794C7.84-0.266,9.091-0.07,9.741,0.822l21.875,30c0.513,0.704,0.512,1.659-0.003,2.361l-22,30C9.221,63.717,8.614,64,7.998,64z"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="pager previous js-carousel-previous absolute t0 b0 l0 pl4 pr4 transition-all z_overlap_slider light-theme">
    <div class="table full-height">
      <div class="table-cell align-middle">
        <svg class="mb2" enable-background="new 0 0 32 64" height="64px" version="1.1" viewBox="0 0 32 64" width="32px" x="0px" xml:space="preserve" xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
          <g display="none" id="Layer_2">
            <rect display="inline" fill="#ffffff" height="112" width="128" x="-7" y="-20"></rect>
          </g>
          <g id="Layer_1">
            <g>
              <path class="transition-all" d="M23.877,64c-0.617,0-1.227-0.284-1.618-0.821l-21.875-30c-0.513-0.704-0.512-1.659,0.003-2.361l22-30c0.654-0.89,1.904-1.084,2.796-0.43c0.891,0.653,1.083,1.905,0.431,2.795L4.478,32.003l21.014,28.818c0.65,0.893,0.455,2.144-0.438,2.795C24.698,63.875,24.285,64,23.877,64z"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>


