<div class="NS_site__homepage_popular py4" id="trending-projects">
  <div class="container-flex px2 py2">
    <div class="title-card pb2">
      <div class="row">
        <div class="mobile-col">
          <h2 class="h3 mb0 normal">
            <a class="green-dark" href="https://www.kickstarter.com/discover/popular?ref=home_popular">What's Popular</a>
          </h2>
        </div>
        <div class="col-right right">
          <a class="btn btn--border-gray btn--small" href="https://www.kickstarter.com/discover/popular?ref=home_popular">
            See all
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex px2 mobile-scroll-container pb2">
    <div class="row mobile-scroll-row">
      <div class="mobile-scroll-row-item col col-4">
        <div class="js-score-tracking project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="255771251">
          <div class="project-thumbnail">
            <div class="projects-we-love-badge projects-we-love-badge--overlay">
              <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
            </div>

            <a class="project-thumbnail-wrap" data-pid="255771251" href="https://www.kickstarter.com/projects/822494155/the-marshall-project-reports-on-life-inside?ref=home_popular" target="">

              <img alt="Project image" class="project-thumbnail-img" src="Kickstarter_files/91352ec61478c17a1468aab7620c4049_original.jpg" width="100%">
            </a>
          </div>
          <div class="project-card-content">
            <h6 class="project-title"><a data-pid="255771251" data-score="null" data-version="null" href="https://www.kickstarter.com/projects/822494155/the-marshall-project-reports-on-life-inside?ref=home_popular" target="">The Marshall Project reports on Life Inside</a></h6> <p class="project-byline">The Marshall Project</p>
            <p class="project-blurb">
              In the criminal justice debate, let's make sure that the people with first-hand experience get heard.
            </p>
          </div>
          <div class="project-card-footer">
            <div class="project-location">
              <a data-location="{&quot;id&quot;:12589342,&quot;name&quot;:&quot;Manhattan&quot;,&quot;slug&quot;:&quot;manhattan-ny&quot;,&quot;short_name&quot;:&quot;Manhattan, NY&quot;,&quot;displayable_name&quot;:&quot;Manhattan, NY&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;NY&quot;,&quot;type&quot;:&quot;County&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/manhattan-ny&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/manhattan-ny&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1468949904.2b607a8c68f9c77eb51ddf088742839fe1d8da8f&amp;woe_id=12589342&quot;}}}" href="https://www.kickstarter.com/discover/places/manhattan-ny?ref=city" target="">
                <span aria-hidden="true" class="ksr-icon__location"></span>
                <span class="location-name">Manhattan, NY</span>
              </a>
            </div>
            <div class="project-stats-container">
              <div class="project-pledged-successful">
                <strong>Successfully funded!</strong>
              </div>
              <div class="project-progress-bar">
                <div class="project-percent-pledged" style="width: 100%"></div>
              </div>
              <ul class="project-stats">
                <li>
                  <div class="project-stats-value">175%</div> <span class="project-stats-label">funded</span>
                </li>
                <li>
                  <div class="project-stats-value"><span class="money usd no-code">$35,142</span></div> <span class="project-stats-label">pledged</span>
                </li>
                <li style="display: none;">
                  <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                </li>
                <li class="ksr_page_timer" data-end_time="2016-07-22T14:56:00-04:00">
                  <div class="project-stats-value">
                    <div class="num">4</div>
                  </div>
                  <div class="project-stats-label text" data-word="left">days to go</div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>
      <div class="mobile-scroll-row-item col col-4">
        <div class="js-score-tracking project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="70099691">
          <div class="project-thumbnail">
            <a class="project-thumbnail-wrap" data-pid="70099691" href="https://www.kickstarter.com/projects/1852466551/shiba-inu-plush?ref=home_popular" target="">

              <img alt="Project image" class="project-thumbnail-img" src="Kickstarter_files/f56bfc958b1d8503e0b83523f003e293_original.jpg" width="100%">
            </a>
          </div>
          <div class="project-card-content">
            <h6 class="project-title"><a data-pid="70099691" data-score="null" data-version="null" href="https://www.kickstarter.com/projects/1852466551/shiba-inu-plush?ref=home_popular" target="">Shiba Inu Plush!</a></h6> <p class="project-byline">Naomi Romero</p>
            <p class="project-blurb">
              Help bring this shiba inu plush to life!
            </p>
          </div>
          <div class="project-card-footer">
            <div class="project-location">
              <a data-location="{&quot;id&quot;:2383660,&quot;name&quot;:&quot;Columbus&quot;,&quot;slug&quot;:&quot;columbus-oh&quot;,&quot;short_name&quot;:&quot;Columbus, OH&quot;,&quot;displayable_name&quot;:&quot;Columbus, OH&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;OH&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/columbus-oh&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/columbus-oh&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1468949904.f994470eaeea48de045c5955e74ead9fa3806d23&amp;woe_id=2383660&quot;}}}" href="https://www.kickstarter.com/discover/places/columbus-oh?ref=city" target="">
                <span aria-hidden="true" class="ksr-icon__location"></span>
                <span class="location-name">Columbus, OH</span>
              </a>
            </div>
            <div class="project-stats-container">
              <div class="project-pledged-successful">
                <strong>Successfully funded!</strong>
              </div>
              <div class="project-progress-bar">
                <div class="project-percent-pledged" style="width: 100%"></div>
              </div>
              <ul class="project-stats">
                <li>
                  <div class="project-stats-value">133%</div> <span class="project-stats-label">funded</span>
                </li>
                <li>
                  <div class="project-stats-value"><span class="money usd no-code">$8,818</span></div> <span class="project-stats-label">pledged</span>
                </li>
                <li style="display: none;">
                  <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                </li>
                <li class="ksr_page_timer" data-end_time="2016-08-15T18:45:43-04:00">
                  <div class="project-stats-value">
                    <div class="num">28</div>
                  </div>
                  <div class="project-stats-label text" data-word="left">days to go</div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>
      <div class="mobile-scroll-row-item col col-4">
        <div class="js-score-tracking project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="1699656006">
          <div class="project-thumbnail">
            <div class="projects-we-love-badge projects-we-love-badge--overlay">
              <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
            </div>

            <a class="project-thumbnail-wrap" data-pid="1699656006" href="https://www.kickstarter.com/projects/andresjsalazar/pariah-missouri-complete-hardcover-collection?ref=home_popular" target="">

              <img alt="Project image" class="project-thumbnail-img" src="Kickstarter_files/9af45b68894e319adca5cf2c78c7600e_original.jpg" width="100%">
            </a>
          </div>
          <div class="project-card-content">
            <h6 class="project-title"><a data-pid="1699656006" data-score="null" data-version="null" href="https://www.kickstarter.com/projects/andresjsalazar/pariah-missouri-complete-hardcover-collection?ref=home_popular" target="">Pariah Missouri Complete Hardcover Collection</a></h6> <p class="project-byline">Andres Salazar</p>
            <p class="project-blurb">
              Collection of the graphic novel supernatural frontier saga.  Exclusive
              oversized hardcovers, Omnibus, Role-playing and card games.
            </p>
          </div>
          <div class="project-card-footer">
            <div class="project-location">
              <a data-location="{&quot;id&quot;:2511650,&quot;name&quot;:&quot;Ventura&quot;,&quot;slug&quot;:&quot;ventura-ca&quot;,&quot;short_name&quot;:&quot;Ventura, CA&quot;,&quot;displayable_name&quot;:&quot;Ventura, CA&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;CA&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/ventura-ca&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/ventura-ca&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1468949904.705a085dcc3cdc14c28b7532867cf85a04b4d137&amp;woe_id=2511650&quot;}}}" href="https://www.kickstarter.com/discover/places/ventura-ca?ref=city" target="">
                <span aria-hidden="true" class="ksr-icon__location"></span>
                <span class="location-name">Ventura, CA</span>
              </a>
            </div>
            <div class="project-stats-container">
              <div class="project-pledged-successful">
                <strong>Successfully funded!</strong>
              </div>
              <div class="project-progress-bar">
                <div class="project-percent-pledged" style="width: 42.6%"></div>
              </div>
              <ul class="project-stats">
                <li>
                  <div class="project-stats-value">42%</div> <span class="project-stats-label">funded</span>
                </li>
                <li>
                  <div class="project-stats-value"><span class="money usd no-code">$3,408</span></div> <span class="project-stats-label">pledged</span>
                </li>
                <li style="display: none;">
                  <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                </li>
                <li class="ksr_page_timer" data-end_time="2016-08-30T22:04:00-04:00">
                  <div class="project-stats-value">
                    <div class="num">43</div>
                  </div>
                  <div class="project-stats-label text" data-word="left">days to go</div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>