<div class="py4 js-project-cards-module" id="recommended-projects">

  <div class="container-flex px2 py2">
    <div class="title-card pb2">

      <div class="row">
        <div class="mobile-col">
          <h2 class="h3 mb0 normal">
            <a class="green-dark" href="https://www.kickstarter.com/recommendations?ref=home_recs">Recommended for you</a>
          </h2>
        </div>
        <div class="col-right right">
          <a class="btn btn--border-gray btn--small" href="https://www.kickstarter.com/recommendations?ref=home_recs">
            See all
          </a>
        </div>
      </div>

    </div>
  </div>


  <div class="container-flex px2 mobile-scroll-container pb2">
    <div class="row mobile-scroll-row">

      <div class="mobile-scroll-row-item col col-4">
        <div class="js-score-tracking project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="659259557">
          <div class="project-thumbnail">
            <div class="projects-we-love-badge projects-we-love-badge--overlay">
              <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
            </div>

            <a class="project-thumbnail-wrap" data-pid="659259557" href="https://www.kickstarter.com/projects/basslet/the-basslet-a-wearable-subwoofer-for-your-body?ref=home_popular" target="">

              <img alt="Project image" class="project-thumbnail-img" src="Kickstarter_files/bad4c2f6248fe96c0aecbc574933dfb8_original.jpg" width="100%">
            </a>
          </div>
          <div class="project-card-content">
            <h6 class="project-title"><a data-pid="659259557" data-score="null" data-version="null" href="https://www.kickstarter.com/projects/basslet/the-basslet-a-wearable-subwoofer-for-your-body?ref=home_popular" target="">The Basslet: a wearable subwoofer for your body</a></h6> <p class="project-byline">Lofelt</p>
            <p class="project-blurb">
              The world’s first watch-size subwoofer for your body. Experience powerful bass – anywhere you go. For music, gaming and VR.
            </p>
          </div>
          <div class="project-card-footer">
            <div class="project-location">
              <a data-location="{&quot;id&quot;:638242,&quot;name&quot;:&quot;Berlin&quot;,&quot;slug&quot;:&quot;berlin-berlin-de&quot;,&quot;short_name&quot;:&quot;Berlin, Germany&quot;,&quot;displayable_name&quot;:&quot;Berlin, Germany&quot;,&quot;country&quot;:&quot;DE&quot;,&quot;state&quot;:&quot;Berlin&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/berlin-berlin-de&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/berlin-berlin-de&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1468949364.acfe5ddcd3f099b5735069be3da2908680ff050a&amp;woe_id=638242&quot;}}}" href="https://www.kickstarter.com/discover/places/berlin-berlin-de?ref=city" target="">
                <span aria-hidden="true" class="ksr-icon__location"></span>
                <span class="location-name">Berlin, Germany</span>
              </a>
            </div>
            <div class="project-stats-container">
              <div class="project-pledged-successful">
                <strong>Successfully funded!</strong>
              </div>
              <div class="project-progress-bar">
                <div class="project-percent-pledged" style="width: 100%"></div>
              </div>
              <ul class="project-stats">
                <li>
                  <div class="project-stats-value">921%</div> <span class="project-stats-label">funded</span>
                </li>
                <li>
                  <div class="project-stats-value"><span class="money eur no-code">€460,936</span></div> <span class="project-stats-label">pledged</span>
                </li>
                <li style="display: none;">
                  <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                </li>
                <li class="ksr_page_timer" data-end_time="2016-07-24T17:59:00-04:00">
                  <div class="project-stats-value">
                    <div class="num">6</div>
                  </div>
                  <div class="project-stats-label text" data-word="left">days to go</div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>

      <div class="mobile-scroll-row-item col col-4">
        <div class="js-score-tracking project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="1247092504">
          <div class="project-thumbnail">
            <div class="projects-we-love-badge projects-we-love-badge--overlay">
              <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
            </div>

            <a class="project-thumbnail-wrap" data-pid="1247092504" href="https://www.kickstarter.com/projects/1966475415/the-most-beautiful-baskets-ever?ref=home_popular" target="">

              <img alt="Project image" class="project-thumbnail-img" src="Kickstarter_files/bd85a91f94f47f899331d9c501e64b4e_original.jpg" width="100%">
            </a>
          </div>
          <div class="project-card-content">
            <h6 class="project-title"><a data-pid="1247092504" data-score="null" data-version="null" href="https://www.kickstarter.com/projects/1966475415/the-most-beautiful-baskets-ever?ref=home_popular" target="">The Most Beautiful Baskets... Ever!</a></h6> <p class="project-byline">Coretta Owusu</p>
            <p class="project-blurb">
              We are an artisan cooperative that makes the most beautiful handmade design products from traditional African crafts.
            </p>
          </div>
          <div class="project-card-footer">
            <div class="project-location">
              <a data-location="{&quot;id&quot;:2514815,&quot;name&quot;:&quot;Washington&quot;,&quot;slug&quot;:&quot;washington-dc&quot;,&quot;short_name&quot;:&quot;Washington, DC&quot;,&quot;displayable_name&quot;:&quot;Washington, DC&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;DC&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/washington-dc&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/washington-dc&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1468949364.ccdeabaed896093803022143f9feaca6c61e3169&amp;woe_id=2514815&quot;}}}" href="https://www.kickstarter.com/discover/places/washington-dc?ref=city" target="">
                <span aria-hidden="true" class="ksr-icon__location"></span>
                <span class="location-name">Washington, DC</span>
              </a>
            </div>
            <div class="project-stats-container">
              <div class="project-pledged-successful">
                <strong>Successfully funded!</strong>
              </div>
              <div class="project-progress-bar">
                <div class="project-percent-pledged" style="width: 100%"></div>
              </div>
              <ul class="project-stats">
                <li>
                  <div class="project-stats-value">135%</div> <span class="project-stats-label">funded</span>
                </li>
                <li>
                  <div class="project-stats-value"><span class="money usd no-code">$13,544</span></div> <span class="project-stats-label">pledged</span>
                </li>
                <li style="display: none;">
                  <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                </li>
                <li class="ksr_page_timer" data-end_time="2016-07-29T12:55:22-04:00">
                  <div class="project-stats-value">
                    <div class="num">10</div>
                  </div>
                  <div class="project-stats-label text" data-word="left">days to go</div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>

      <div class="mobile-scroll-row-item col col-4">
        <div class="js-score-tracking project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="1326540633">
          <div class="project-thumbnail">
            <div class="projects-we-love-badge projects-we-love-badge--overlay">
              <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
            </div>

            <a class="project-thumbnail-wrap" data-pid="1326540633" href="https://www.kickstarter.com/projects/octopusbyjoy/the-icon-based-watch-that-young-kids-can-read-and?ref=home_popular" target="">

              <img alt="Project image" class="project-thumbnail-img" src="Kickstarter_files/e6569a5adcaea439efd89c8c6ecd49d0_original.jpg" width="100%">
            </a>
          </div>
          <div class="project-card-content">
            <h6 class="project-title"><a data-pid="1326540633" data-score="null" data-version="null" href="https://www.kickstarter.com/projects/octopusbyjoy/the-icon-based-watch-that-young-kids-can-read-and?ref=home_popular" target="">Octopus by Joy, the training wheels for good habits!</a></h6> <p class="project-byline">Joy</p>
            <p class="project-blurb">
              The first icon-based watch that teaches kids good habits and the concept
              of time. It fosters independence, responsibility &amp; self-esteem
            </p>
          </div>
          <div class="project-card-footer">
            <div class="project-location">
              <a data-location="{&quot;id&quot;:2487956,&quot;name&quot;:&quot;San Francisco&quot;,&quot;slug&quot;:&quot;san-francisco-ca&quot;,&quot;short_name&quot;:&quot;San Francisco, CA&quot;,&quot;displayable_name&quot;:&quot;San Francisco, CA&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;CA&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/san-francisco-ca&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/san-francisco-ca&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1468949364.91da604b4276d3d488138f7df13e83e692d5d042&amp;woe_id=2487956&quot;}}}" href="https://www.kickstarter.com/discover/places/san-francisco-ca?ref=city" target="">
                <span aria-hidden="true" class="ksr-icon__location"></span>
                <span class="location-name">San Francisco, CA</span>
              </a>
            </div>
            <div class="project-stats-container">
              <div class="project-pledged-successful">
                <strong>Successfully funded!</strong>
              </div>
              <div class="project-progress-bar">
                <div class="project-percent-pledged" style="width: 100%"></div>
              </div>
              <ul class="project-stats">
                <li>
                  <div class="project-stats-value">1428%</div> <span class="project-stats-label">funded</span>
                </li>
                <li>
                  <div class="project-stats-value"><span class="money usd no-code">$714,007</span></div> <span class="project-stats-label">pledged</span>
                </li>
                <li style="display: none;">
                  <div class="project-stats-value">Funded</div>
<span class="project-stats-label">
</span>
                </li>
                <li class="ksr_page_timer" data-end_time="2016-07-22T11:32:04-04:00">
                  <div class="project-stats-value">
                    <div class="num">3</div>
                  </div>
                  <div class="project-stats-label text" data-word="left">days to go</div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>