<div class="row">

  <div class="col col-10">
    <h2 class="for-screenreader">Projects We Love </h2>
    <div class="has_potd js-projects-slider projects-slider" id="project-slide">

      <div class="row">


        <div class="col col-12 no-margin project project0 relative selected">
          <div class="title pb3 mobile-hide">

            <div class="row">
              <div class="col">
                <h3 class="art no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/art?ref=home_featured">Art</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/art?ref=home_featured">See all Art projects
                </a></div>
            </div>

          </div>

          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/translifeliberation/trans-life-and-liberation-art-series?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/63c115dfb240a3ac281b8985c21c06a2_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/translifeliberation/trans-life-and-liberation-art-series?ref=home_featured">Trans Life and Liberation Art Series</a></h4> <p class="h6 grey-dark mobile-hide">by Trans Life &amp; Liberation Art Series</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  The Trans Life &amp; Liberation Art Series creates art about and with
                  living trans people on the front lines of our liberation movement.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/oakland-ca?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Oakland, CA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/art?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Art
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 75.74%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">75%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$7,574</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">151</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-08-05T02:59:00-04:00">
                          <strong class="block h6">
                            <div class="num h4">17</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-12 no-margin project project1 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="comics no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/comics?ref=home_featured">Comics</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/comics?ref=home_featured">See all Comics projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/1807618223/dragonslayer-chapters-1-and-2?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/f530c5534c3f6bd21bb7d0f9630f21cb_original.png" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/1807618223/dragonslayer-chapters-1-and-2?ref=home_featured">Dragonslayer: Chapters 1 &amp; 2</a></h4> <p class="h6 grey-dark mobile-hide">by Anna Leue</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  A graphic novel about a girl, a ghost, and a dragon, and how they learned what a monster really is. Part 1 of 3.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/easthampton-ma?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Easthampton, MA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/comics/graphic%20novels?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Graphic Novels
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 55.98%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">55%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$2,239</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">60</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-08-01T13:31:37-04:00">
                          <strong class="block h6">
                            <div class="num h4">13</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-12 no-margin project project2 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="crafts no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/crafts?ref=home_featured">Crafts</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/crafts?ref=home_featured">See all Crafts projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/1966475415/the-most-beautiful-baskets-ever?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/bd85a91f94f47f899331d9c501e64b4e_original_002.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/1966475415/the-most-beautiful-baskets-ever?ref=home_featured">The Most Beautiful Baskets... Ever!</a></h4> <p class="h6 grey-dark mobile-hide">by Coretta Owusu</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  We are an artisan cooperative that makes the most beautiful handmade design products from traditional African crafts.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/washington-dc?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Washington, DC
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/crafts?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Crafts
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 100%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">134%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$13,464</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">153</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-29T12:55:22-04:00">
                          <strong class="block h6">
                            <div class="num h4">10</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-12 no-margin project project3 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="dance no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/dance?ref=home_featured">Dance</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/dance?ref=home_featured">See all Dance projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/671533808/enhanced-ebook-storytelling-though-dance?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/b5348ccd261d81137a84b5fd1b043ee0_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/671533808/enhanced-ebook-storytelling-though-dance?ref=home_featured">Enhanced eBook: Storytelling Through Dance</a></h4> <p class="h6 grey-dark mobile-hide">by Keone &amp; Mari Madrid</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  A multimedia eBook combining dance, writing, music, film, design, photography, and technology to tell a story.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/san-diego-ca?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      San Diego, CA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/dance?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Dance
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 54.77%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">54%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$24,645</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">520</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-29T16:43:16-04:00">
                          <strong class="block h6">
                            <div class="num h4">11</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project4 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="design no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/design?ref=home_featured">Design</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/design?ref=home_featured">See all Design projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/peak-design/the-everyday-backpack-tote-and-sling?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/88bd03c8a899016157228c354662fa9c_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/peak-design/the-everyday-backpack-tote-and-sling?ref=home_featured">The Everyday Backpack, Tote, and Sling</a></h4> <p class="h6 grey-dark mobile-hide">by Peak Design</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  A line of versatile, durable, and beautiful bags based on the award-winning Everyday Messenger.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/san-francisco-ca?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      San Francisco, CA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/design/product%20design?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Product Design
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 100%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">297%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$1,486,522</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">6,330</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-09-09T20:00:00-04:00">
                          <strong class="block h6">
                            <div class="num h4">53</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project5 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="fashion no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/fashion?ref=home_featured">Fashion</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/fashion?ref=home_featured">See all Fashion projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/1213762783/circular-fashion-fibres?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/fb356c7434c8ce83329e3c155db298d1_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/1213762783/circular-fashion-fibres?ref=home_featured">Circular Fashion Fibres</a></h4> <p class="h6 grey-dark mobile-hide">by ReBlend</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  We have turned old textiles into new yarn to create a fashion collection with positive impact.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/amsterdam-nl?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Amsterdam, Netherlands
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/fashion?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Fashion
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 27.76%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">27%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money eur no-code">€5,551</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">34</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-31T18:00:00-04:00">
                          <strong class="block h6">
                            <div class="num h4">13</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project6 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="film no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/film%20&amp;%20video?ref=home_featured">Film &amp; Video</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/film%20&amp;%20video?ref=home_featured">See all Film &amp; Video projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/522552982/drynx-animated-shorts-new-album?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/ff8e3d140ee9646d1ec6c4d8c6264976_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/522552982/drynx-animated-shorts-new-album?ref=home_featured">DRYNX Animated Shorts + New Album</a></h4> <p class="h6 grey-dark mobile-hide">by Stiff Eddie</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  Help fund the creation of a series of animated shorts starring DRYNX, plus an entirely new DRYNX album
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/los-angeles-ca?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Los Angeles, CA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/film%20&amp;%20video/webseries?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Webseries
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 25.39%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">25%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$2,538</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">35</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-08-07T11:08:51-04:00">
                          <strong class="block h6">
                            <div class="num h4">19</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project7 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="food no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/food?ref=home_featured">Food</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/food?ref=home_featured">See all Food projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/2049620122/the-virginia-tea-company?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/460415c805c118e52bc9e43cf2ee76ac_original.jpeg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/2049620122/the-virginia-tea-company?ref=home_featured">Become Part of Something Revolutionary: The Virginia Tea Co</a></h4> <p class="h6 grey-dark mobile-hide">by M. Lightfoot</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  Local | Organic | Fair Trade | Handcrafted

                  Tea Blends That Are Amazing For The Body And The Soul.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/manassas-va?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Manassas, VA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/food/drinks?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Drinks
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 62.08%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">62%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$6,208</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">115</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-23T19:38:26-04:00">
                          <strong class="block h6">
                            <div class="num h4">5</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project8 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="games no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/games?ref=home_featured">Games</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/games?ref=home_featured">See all Games projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/1272313960/best-buds-vs-bad-guys?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/45a8569bc61d6c6500bc981123a79cc8_original.png" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/1272313960/best-buds-vs-bad-guys?ref=home_featured">Best Buds vs Bad Guys</a></h4> <p class="h6 grey-dark mobile-hide">by Super Icon</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  Best Buds VS Bad Guys is an ultra-explosive retro pixel run ’n’ gun from a game developer Dad and his 11 year-old son.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/cornwall-and-isles-of-scilly-gb?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Cornwall and Isles of Scilly, UK
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/games/video%20games?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Video Games
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 65.78%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">65%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money gbp no-code">£2,960</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">120</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-21T03:39:07-04:00">
                          <strong class="block h6">
                            <div class="num h4">62</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">hours to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project9 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="journalism no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/journalism?ref=home_featured">Journalism</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/journalism?ref=home_featured">See all Journalism projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/meedan/lets-translate-us-election-2016?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/2681d24bf513abfffeb446669732c083_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/meedan/lets-translate-us-election-2016?ref=home_featured">Let's Translate US Election 2016!</a></h4> <p class="h6 grey-dark mobile-hide">by Meedan</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  Help us boost underrepresented voices in the US elections. We're
                  translating social media from Spanish, Arabic and other languages.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/san-francisco-ca?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      San Francisco, CA
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/journalism/web?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Web
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 27.24%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">27%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$2,996</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">59</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-20T02:59:00-04:00">
                          <strong class="block h6">
                            <div class="num h4">37</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">hours to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project10 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="music no-margin normal">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/music?ref=home_featured">Music</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/music?ref=home_featured">See all Music projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/926107819/olivia-awbreys-first-full-length-studio-album?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/e3b7a20f015d3b31ef5e0fb31723a6c7_original.jpeg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/926107819/olivia-awbreys-first-full-length-studio-album?ref=home_featured">Olivia Awbrey's First Full-Length Studio Album</a></h4> <p class="h6 grey-dark mobile-hide">by Olivia Awbrey</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  Sassy, political, and poignant, this new voice in Portland's folk-rock
                  community needs your help to record her debut full-length album.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/portland-or?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Portland, OR
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/music/rock?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Rock
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 31.13%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">31%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$2,179</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">41</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-31T12:52:39-04:00">
                          <strong class="block h6">
                            <div class="num h4">12</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project11 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="no-margin normal photography">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/photography?ref=home_featured">Photography</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/photography?ref=home_featured">See all Photography projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/969217780/face-to-faith-mount-kailash-tibet-photobook?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/7b43b9dc6afe6bf2e007299fa380d979_original.jpg" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/969217780/face-to-faith-mount-kailash-tibet-photobook?ref=home_featured">FACE TO FAITH | MOUNT KAILASH | TIBET photobook</a></h4> <p class="h6 grey-dark mobile-hide">by Samuel Zuder</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  A Photobook about one of the most fascinating places on earth -     the sacred Mount Kailash in Tibet.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/hamburg-de?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Hamburg, Germany
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/photography/photobooks?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Photobooks
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 100%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">110%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money eur no-code">€13,225</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">119</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-08-06T14:00:00-04:00">
                          <strong class="block h6">
                            <div class="num h4">19</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="col col-12 no-margin potd project project12 relative ">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="no-margin normal publishing">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/publishing?ref=home_potd">Publishing</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/publishing?ref=home_potd">See all Publishing projects
                </a></div>
            </div>
          </div>
          <div class="project-ribbon tiny bg-green pl1 pr1 h6 absolute ratio-16-9">
            <svg aria-hidden="true" class="svg-icon__kickstarter"><use xlink:href="#kickstarter"></use></svg>
            <span class="text white bold">Project of the Day</span>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/1078496550/a-new-home-the-iprc-relocation-project?ref=home_potd"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/865104cb3be7e2e62da473ee7109f20b_original.JPG" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/1078496550/a-new-home-the-iprc-relocation-project?ref=home_potd">AA New Home: The IPRC Relocation Project</a></h4> <p class="h6 grey-dark mobile-hide">by Independent Publishing Resource Center</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  The IPRC has to move! Help us make the transition.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/portland-or?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Portland, OR
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/publishing/zines?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Zines
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 51.24%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">51%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money usd no-code">$10,247</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">214</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-09-03T21:47:39-04:00">
                          <strong class="block h6">
                            <div class="num h4">47</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project13 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="no-margin normal technology">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/technology?ref=home_featured">Technology</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/technology?ref=home_featured">See all Technology projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/gfw/puckjs-the-ground-breaking-bluetooth-beacon?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/6ea47be2bcca0c693df65467f3a276d0_original.png" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/gfw/puckjs-the-ground-breaking-bluetooth-beacon?ref=home_featured">Puck.js - the ground-breaking bluetooth beacon</a></h4> <p class="h6 grey-dark mobile-hide">by Gordon Williams</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  An Open Source JavaScript microcontroller you can program wirelessly -
                  perfect for IoT! No software needed so get started in seconds.
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/oxford-gb?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      Oxford, UK
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/technology/hardware?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Hardware
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 100%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">280%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money gbp no-code">£56,078</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">938</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-08-05T15:01:08-04:00">
                          <strong class="block h6">
                            <div class="num h4">18</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">days to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col col-12 no-margin project project14 relative">
          <div class="title pb3 mobile-hide">
            <div class="row">
              <div class="col">
                <h3 class="no-margin normal theater">
                  <a class="green-dark" href="https://www.kickstarter.com/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                  <a class="green-dark" href="https://www.kickstarter.com/discover/categories/theater?ref=home_featured">Theater</a>
                </h3>
              </div>
              <div class="col-right see-all-link">
                <a class="h6 bold grey-dark" href="https://www.kickstarter.com/discover/categories/theater?ref=home_featured">See all Theater projects
                </a></div>
            </div>
          </div>
          <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
            <div class="project-card clearfix relative">
              <div class="project-thumbnail">
                <div class="mobile-show">
                  <div class="projects-we-love-badge projects-we-love-badge--overlay">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                </div>
                <a class="project-thumbnail-wrap" href="https://www.kickstarter.com/projects/angel-comedy/angel-comedy-club?ref=home_featured"><img alt="Project image" class="project-thumbnail__image" src="Kickstarter_files/84f3fba9c7c2b990e76b6b9071dcf1d7_original.png" style="height: auto;" height="315" width="560"></a>
              </div>
              <div class="project-card-interior">
                <h4 class="project-title ellipsis"><a class="green-dark" href="https://www.kickstarter.com/projects/angel-comedy/angel-comedy-club?ref=home_featured">Angel Comedy Club</a></h4> <p class="h6 grey-dark mobile-hide">by Angel Comedy</p>
                <p class="blurb h5 grey-dark mb3 mobile-hide">
                  Angel Comedy Club: A permanent home for London’s loveliest comedy night - a community comedy club
                </p>
                <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                  <div class="NS_projects__category_location ratio-16-9">
                    <a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/places/london-gb?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                      London, UK
                    </a><a class="grey-dark mr2 nowrap" href="https://www.kickstarter.com/discover/categories/theater/spaces?ref=category"><span aria-hidden="true" class="ksr-icon__tag"></span>
                    Spaces
                  </a><div class="projects-we-love-badge tipsy_s" original-title="&lt;div class='projects-we-love__tooltip'&gt;Our team identifies Projects We Love. This isn't a paid endorsement, just a show of love and respect from us at Kickstarter.&lt;/div&gt;">
                    <div class="icon"><span aria-hidden="true" class="ksr-icon__heart"></span></div><div class="label">Project We Love</div>
                  </div>

                  </div>

                  <div class="project-stats-wrap">
                    <div class="project-pledged-successful bg-green white h6 pl1 pr1 mb1" style="display: none;">
                      <strong>Successfully funded!</strong>
                    </div>
                    <div class="NS_project__baseball_card_stats">
                      <div class="project-pledged-wrap bg-grey mb1 clip">
                        <div class="project-pledged bg-green full-height" style="width: 100%"></div>
                      </div>
                      <ul class="project-stats list no-margin h6 no-wrap">
                        <li class="first funded inline-block mr2">
                          <strong class="block h4">198%</strong> <span class="grey-dark">funded</span>
                        </li>
                        <li class="pledged inline-block mr2">
                          <strong class="block h4"><span class="money gbp no-code">£39,636</span></strong> <span class="grey-dark">pledged</span>
                        </li>
                        <li class="backers inline-block mr2 mobile-hide">
                          <strong class="block h4">756</strong> <span class="grey-dark">backers</span>
                        </li>
                        <li class="last successful inline-block" style="display: none;">
                          <strong class="block h4">Funded</strong>
                          <div class="deadline grey-dark">
                          </div>
                        </li>
                        <li class="last ksr_page_timer inline-block" data-end_time="2016-07-21T12:45:26-04:00">
                          <strong class="block h6">
                            <div class="num h4">71</div>
                          </strong>
                          <div class="span text grey-dark" data-word="left">hours to go</div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div class="col col-2 mobile-hide">
    <div class="js-category-nav category-nav border-left mt2 mb2 ml1 mr1">
      <ul class="nav h5 list">
        <li  class="selected">
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/art">
            Art
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/comics">
            Comics
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/crafts">
            Crafts
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/dance">
            Dance
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/design">
            Design
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/fashion">
            Fashion
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/film%20&amp;%20video">
            Film &amp; Video
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/food">
            Food
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/games">
            Games
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/journalism">
            Journalism
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/music">
            Music
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/photography">
            Photography
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/publishing">
            Publishing
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/technology">
            Technology
          </a>
        </li>
        <li>
          <a class="green-dark link" href="https://www.kickstarter.com/discover/categories/theater">
            Theater
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>