<script class="template" id="template-projects__baseball_card_tall" type="text/x-tmpl-mustache">{{#spotlight}}
  {{>projects/_baseball_card_tall_spotlight}}
{{/spotlight}}
{{^spotlight}}
  {{>projects/_baseball_card_tall_standard}}
{{/spotlight}}

{{#friends_backing?}}
  <div class="friend-backers">
    <div class="friend-facepile">
      {{#truncated_friends}}
        <img src="{{avatar.thumb}}" class="{{#has_metadata?}}small{{/has_metadata?}} avatar-circle-small" alt="">
      {{/truncated_friends}}
    </div>
    <p class="friend-namepile">
      {{{escaped_sentence}}}
    </p>
  </div>
{{/friends_backing?}}
</script>


<script class="template" id="template-projects__baseball_card_tall_spotlight" type="text/x-tmpl-mustache">
<div class="project-card project-card-{{baseball_card_size}} project-card--spotlight ratio-16-9" style="{{ profile.card_style }}" data-pid="{{id}}">
  <div class="project-profile-feature-image">
      <a href="{{url_with_ref}}" class="project-thumbnail-wrap">
          <div class="project-profile-card__background" style="{{#profile.background_color}}background-color: #{{profile.background_color}} {{/profile.background_color}}">
              <div class="project-profile-card__background bg-black {{#profile.hide_background_black?}}hide{{/profile.hide_background_black?}}"></div>
              <div class="project-profile-card__background" style="{{profile.card_background_style}}"></div>
          </div>
          <img alt="{{#t}}projects.baseball_card_tall.Project_image{{/t}}" src="{{profile.feature_image_url}}" class="{{^profile.should_show_feature_image_section}}is-invisible{{/profile.should_show_feature_image_section}}">
      </a>
  </div>

  <div class="project-card-content">

    <div class="project-profile-title">
      <a href="{{url_with_ref}}" target="">
        {{ profile.name }}
      </a>
    </div>

    <p class="project-profile-blurb">
      {{ profile.blurb }}
    </p>

  </div>

  <div class="project-profile-footer">
    <div class="one-pixel-divider bg-green-dark" style="{{ profile.border_color }}"></div>

    <div class="project-profile-footer__content">
      <div class="flag">
        <div class="flag-img">
          <img src="{{ creator.avatar.thumb }}" class="block circle avatar-small" alt="{{ creator.avatar.name }}" />
        </div>
        <div class="flag-body">
          <p class="project-profile-byline">
            {{#t}}projects.baseball_card_tall.by_creator_and_backers{{/t}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
</script>


<script class="template" id="template-projects__baseball_card_tall_standard" type="text/x-tmpl-mustache">
<div class="project-card js-score-tracking ratio-16-9 {{#successful?}}successful{{/successful?}} project-card-{{baseball_card_size}}" data-pid="{{id}}">

  <div class="project-thumbnail">
    {{#staff_pick?}}
      <div class="projects-we-love-badge projects-we-love-badge--overlay">
        <div class="icon">
          <span class="ksr-icon__heart"></span>
        </div>
        <div class="label">
          {{#t}}projects.baseball_card_tall.project_we_love{{/t}}
        </div>
      </div>
    {{/staff_pick?}}

    <a href="{{url_with_ref}}" class="project-thumbnail-wrap" target="" data-score="{{score}}" data-version="{{version}}" data-pid="{{id}}">
      <img alt="{{#t}}projects.baseball_card_tall.Project_image{{/t}}" class="project-thumbnail-img" src="{{photo.ed}}" width="100%">
    </a>
  </div>

  <div class="project-card-content">
    {{#t}}projects.baseball_card_tall.project_by_creator{{/t}}
    <p class="project-blurb">
      {{blurb}}
    </p>
  </div>

  <div class="project-card-footer">

    {{#location}}
      <div class="project-location">
        <a href="{{location.urls.web.discover}}" data-location="{{location_json}}">
          <span class="ksr-icon__location" aria-hidden="true"></span>
          <span class="location-name">{{location.displayable_name}}</span>
        </a>
      </div>
    {{/location}}

    <div class="project-stats-container">

      {{#failed?}}
        <div class='project-status project-failed'>
          <strong> {{#t}}projects.baseball_card_tall.Funding_Unsuccessful{{/t}}</strong><br />
          <div>{{#t}}projects.baseball_card_tall.Project_ended_on_time{{/t}}</div>
        </div>
      {{/failed?}}

      {{#canceled?}}
        <div class='project-status project-canceled'>
          <strong> {{#t}}projects.baseball_card_tall.Funding_Canceled{{/t}}</strong><br />
          <div>{{#t}}projects.baseball_card_tall.Project_canceled_on_time{{/t}}</div>
        </div>
      {{/canceled?}}

      {{#successful?}}
        <div class='project-pledged-successful'>
          <strong>{{#t}}projects.baseball_card_tall.Successfully_funded{{/t}}</strong>
        </div>
      {{/successful?}}

      {{#live_or_successful?}}

        {{#live?}}
          <div class="project-progress-bar">
            <div class="project-percent-pledged" style="width: {{percent_raised_to_100}}%"></div>
          </div>
        {{/live?}}

        <ul class="project-stats">
          <li>
            {{#t}}projects.baseball_card_tall.percent_funded{{/t}}
          </li>

          <li class='js-amount-pledged'>
            {{#t}}projects.baseball_card_tall.amount_pledged{{/t}}
          </li>

          {{#successful?}}
            <li class="successful">
              {{#t}}projects.baseball_card_tall.funded_at_time{{/t}}
            </li>
          {{/successful?}}

          {{#live?}}
            <li class="ksr_page_timer" data-end_time="{{javascript_deadline}}">
              {{#t}}projects.baseball_card_tall.days_to_go{{/t}}
            </li>
          {{/live?}}
        </ul>
      {{/live_or_successful?}}
    </div>
  </div>
</div>
</script>