<!DOCTYPE html>
<html class="site_index fontface js" lang="en">
<head>
  <title>Garagehunter</title>
  <%= render 'layouts/head' %>
</head>

<body class="frame site not-mobile not-phone not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive" id="site_index">
<%= render 'layouts/header_pub' %>

<div id="start-of-content" tabindex="-1"></div>

<main role="main">

  <div id="main_content">
      <%= yield %>
  </div>
</main>
<%= render 'layouts/footer' %>

<!--<script src="https://static.kickstarter.com/assets/packages/base-00068e352e459566ea8aa94aefd08a9995b25640bc6626b11086f21689ff7ec8.js"></script>-->
<script src="/base.js"></script>

<%= render 'layouts/svg' %>
</body>
</html>