<!-- STRONG CANDIDATE TO DISAPPEAR -->
<div class="NS_site__homepage_social pt4 pb2" data-ref="home_social">
  <div class="container-flex px2">
    <div class="row">
      <div class="col col-12">
        <div class="border rounded clip">
          <row>
            <div class="table-cell col-8 bg-blue-light p6 mobile-center">
              <div class="py2">
                <h2 class="h1 light">
                  Discover great projects with your friends!
                </h2>
                <p class="mb0">
                  With the powers of the creative universe and Facebook combined, who knows what amazing projects you’ll discover?
                  <a href="https://www.kickstarter.com/friends?ref=home_social">Learn more about Social.</a>
                </p>
              </div>
            </div>
            <div class="table-cell col-4 center px3 py4">
              <a href="https://www.kickstarter.com/fb/login.json?then=https%3A%2F%2Fwww.kickstarter.com%2Ffriends%2Ffind" class="js-facebook-login btn btn--facebook btn--with-svg btn--large"><svg aria-hidden="true" class="svg-icon__facebook"><use xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg> Connect with Facebook</a>
              <h5 class="grey-dark regular mt1 mb0">
                We'll never post anything on Facebook without your permission.
              </h5>
            </div>
          </row>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="NS_site__homepage_curated_pages curated-pages py4">
  <div class="container-flex py2 px2">
    <div class="title-card pb2">
      <div class="row">
        <div class="mobile-col">
          <h2 class="h3 normal mb0">
            <a class="green-dark" href="https://www.kickstarter.com/discover/curated-pages?ref=home_curated">Curated pages</a>
          </h2>
        </div>
        <div class="col-right right">
          <a class="btn btn--border-gray btn--small" href="https://www.kickstarter.com/discover/curated-pages?ref=home_curated">
            See all
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex px2 pb2 mobile-scroll-container">
    <div class="row mobile-scroll-row">
      <div class="curated-page mobile-scroll-row-item col col-2">
        <a href="https://www.kickstarter.com/CreativeCapital"><img alt="Creative Capital" class="image border fit full-width" src="Kickstarter_files/Creative_Capital_icon.png"></a>
      </div>
      <div class="curated-page mobile-scroll-row-item col col-2">
        <a href="https://www.kickstarter.com/kodak"><img alt="Kodak" class="image border fit full-width" src="Kickstarter_files/kodakpic.png"></a>
      </div>
      <div class="curated-page mobile-scroll-row-item col col-2">
        <a href="https://www.kickstarter.com/artbasel"><img alt="Art Basel for Non-Profit Visual Arts Organizations" class="image border fit full-width" src="Kickstarter_files/AB_Crowndfunding_Logo_Pos_RGB_Color_SQUARE_NEW.png"></a>
      </div>
      <div class="curated-page mobile-scroll-row-item col col-2">
        <a href="https://www.kickstarter.com/RISD"><img alt="Rhode Island School of Design" class="image border fit full-width" src="Kickstarter_files/RISD_KICKSTARTER.jpg"></a>
      </div>
      <div class="curated-page mobile-scroll-row-item col col-2">
        <a href="https://www.kickstarter.com/igda"><img alt="International Game Developers Association" class="image border fit full-width" src="Kickstarter_files/Logo-Square.jpg"></a>
      </div>
      <div class="curated-page mobile-scroll-row-item col col-2">
        <a href="https://www.kickstarter.com/TEDFellows"><img alt="TED Fellows" class="image border fit full-width" src="Kickstarter_files/TEDFellows_fb_logo.gif"></a>
      </div>
    </div>
  </div>
</div>
